<?php if (count($languages) > 1) { ?>
<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" class="language-wrapper" id="language">
  <div class="btn-group">
    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
    <?php foreach ($languages as $language) { ?>
        <?php if ($language['code'] == $code) { ?>
                <?php echo $language['name']; ?>
        <?php } ?>
    <?php } ?>
    <i class="icon-down-arrow"></i></button>
    <ul class="dropdown-menu">
      <?php foreach ($languages as $language) { ?>
      <li>
          <a href="<?php echo $language['code']; ?>">
              <?php echo $language['name']; ?>
          </a>
      </li>
      <?php } ?>
    </ul>
  </div>
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
</form>

<?php } ?>
