@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5s7jkb');
    src:  url('../fonts/icomoon.eot?5s7jkb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5s7jkb') format('truetype'),
    url('../fonts/icomoon.woff?5s7jkb') format('woff'),
    url('../fonts/icomoon.svg?5s7jkb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone-call:before {
    content: "\e910";
    color: #4d4d4d;
}
.icon-envelope:before {
    content: "\e911";
    color: #4d4d4d;
}
.icon-download:before {
    content: "\e912";
    color: #fff;
}
.icon-twitter:before {
    content: "\e90d";
    color: #4d4d4d;
}
.icon-google:before {
    content: "\e90e";
    color: #4d4d4d;
}
.icon-close:before {
    content: "\e90f";
    color: #4d4d4d;
}
.icon-catalog:before {
    content: "\e913";
    color: #fff;
}
.icon-profile:before {
    content: "\e900";
    color: #4d4d4d;
}
.icon-search:before {
    content: "\e901";
    color: #b3b3b3;
}
.icon-down-arrow:before {
    content: "\e902";
    color: #4d4d4d;
}
.icon-facebook:before {
    content: "\e903";
    color: #4d4d4d;
}
.icon-vk:before {
    content: "\e904";
    color: #4d4d4d;
}
.icon-instagram:before {
    content: "\e905";
    color: #4d4d4d;
}
.icon-plash-pink:before {
    content: "\e906";
    color: #e83c4d;
}
.icon-left-arrow:before {
    content: "\e907";
    color: #4d4d4d;
}
.icon-right-arrow:before {
    content: "\e908";
    color: #4d4d4d;
}
.icon-plash-new:before {
    content: "\e909";
    color: #f90;
}
.icon-like-black:before {
    content: "\e90a";
    color: #ccc;
}
.icon-basket:before {
    content: "\e90b";
    color: #ccc;
}
.icon-up-arrow:before {
    content: "\e90c";
    color: #4d4d4d;
}
.icon-menu:before {
    content: "\e914";
    color: #fff;
}