@import url("fonts.css");
@import url("sergo.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700");
/* line 77, ../sass/main.scss */
h2 {
  font-family: "ProximaNova";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}

/* line 89, ../sass/main.scss */
html,
body {
  height: 100%;
  font-family: "ProximaNova";
}

/* line 94, ../sass/main.scss */
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 102, ../sass/main.scss */
* {
  outline: 0px !important;
  font-family: "ProximaNova";
  box-sizing: border-box;
}

/* line 107, ../sass/main.scss */
*:focus,
*:active {
  outline: 0px !important;
  text-shadow: none;
  box-shadow: none !important;
}

/* line 113, ../sass/main.scss */
a:hover {
  text-decoration: none;
}

/* line 116, ../sass/main.scss */
a:focus {
  outline: 0px !important;
}

/* line 119, ../sass/main.scss */
#content {
  min-height: auto;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* line 161, ../sass/main.scss */
.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* line 173, ../sass/main.scss */
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}

/* line 180, ../sass/main.scss */
header {
  padding: 17px 0 18px;
  flex: 0 0 auto;
  margin-bottom: 0;
}

/* line 186, ../sass/main.scss */
.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #f8f1e5;
  padding-top: 30px;
}

/* line 194, ../sass/main.scss */
.mfp-close:hover {
  cursor: pointer !important;
}

/* line 198, ../sass/main.scss */
footer {
  flex: 0 0 auto;
  background-color: #282828;
  padding: 20px 0 20px;
}

/* line 203, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 205, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none;
}
/* line 208, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 212, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 214, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none !important;
}

/* line 218, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 221, ../sass/main.scss */
.wrapper_big-slider > .item:not(:first-child) {
  display: none !important;
}

/* line 224, ../sass/main.scss */
body {
  font-family: "ProximaNova";
}

/* line 229, ../sass/main.scss */
header .flex-wrapper {
  min-height: 66px;
}
/* line 232, ../sass/main.scss */
header .flex-container {
  display: flex;
  align-items: center;
}

/* line 238, ../sass/main.scss */
.top-info {
  padding: 20px 0 15px;
  border: solid 1px #e6e6e6;
}

/* line 242, ../sass/main.scss */
.wraper-shop-info {
  text-align: center;
}
/* line 244, ../sass/main.scss */
.wraper-shop-info a {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
}

/* line 248, ../sass/main.scss */
body {
  position: relative;
}

/* line 252, ../sass/main.scss */
.logo {
  width: 406px;
  height: 95px;
  margin: 0 auto;
  margin-top: -15px;
}

/* line 258, ../sass/main.scss */
input.form-control {
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  box-shadow: none;
}

/* line 274, ../sass/main.scss */
.items-help_elements {
  display: flex;
}
/* line 276, ../sass/main.scss */
.items-help_elements .items-container-flex_col {
  display: flex;
  flex-direction: column;
}
/* line 280, ../sass/main.scss */
.items-help_elements i {
  font-size: 30px;
  margin-right: 10px;
}
/* line 284, ../sass/main.scss */
.items-help_elements .login {
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 5px;
}
/* line 288, ../sass/main.scss */
.items-help_elements .register {
  font-size: 13px;
  line-height: 1.08;
  text-align: left;
  color: #4d4d4d;
}

/* line 295, ../sass/main.scss */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 300, ../sass/main.scss */
.padding_login {
  padding-left: 67px;
}

/* line 303, ../sass/main.scss */
.search-container {
  width: 263px;
  height: 38px;
  position: relative;
}
/* line 307, ../sass/main.scss */
.search-container span {
  position: absolute;
  width: 40px;
  height: 38px;
  display: block;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 315, ../sass/main.scss */
.search-container span .btn {
  width: 100%;
  height: 38px;
  padding: 0 5px;
  border: 0;
  line-height: 30px;
}
/* line 321, ../sass/main.scss */
.search-container span .btn i {
  font-size: 16px;
  line-height: 38px;
}
/* line 327, ../sass/main.scss */
.search-container input.form-control {
  height: 40px;
  border-radius: 3px;
  border: solid 1px #cccccc !important;
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  box-shadow: none;
}

/* line 343, ../sass/main.scss */
.language-wrapper {
  width: 85px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #cccccc;
}
/* line 348, ../sass/main.scss */
.language-wrapper .btn-group {
  width: 100%;
  height: 40px;
}
/* line 352, ../sass/main.scss */
.language-wrapper .btn-link {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
}
/* line 362, ../sass/main.scss */
.language-wrapper .btn-link i {
  font-size: 5px;
}
/* line 365, ../sass/main.scss */
.language-wrapper .btn-link:focus, .language-wrapper .btn-link:active, .language-wrapper .btn-link:hover {
  text-decoration: none;
  color: #4d4d4d !important;
}

/* line 373, ../sass/main.scss */
.flex-row {
  display: flex;
  align-items: center;
}

/* line 377, ../sass/main.scss */
.menu-block {
  background-color: #61c0bf;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

/* line 383, ../sass/main.scss */
.navbar-collapse {
  padding: 0;
}

/* line 386, ../sass/main.scss */
.menu-style {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0 90px;
}
/* line 392, ../sass/main.scss */
.menu-style li, .menu-style a {
  text-transform: uppercase;
  height: 52px;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}
/* line 396, ../sass/main.scss */
.menu-style li p, .menu-style a p {
  padding: 15px;
  margin-bottom: 0;
  height: 52px;
}
/* line 402, ../sass/main.scss */
.menu-style li:hover, .menu-style a:hover {
  background-color: #bbded6;
}
/* line 407, ../sass/main.scss */
.menu-style li a {
  line-height: 22px;
}

/* line 412, ../sass/main.scss */
.nav > li > a:focus, .nav > li > a:hover {
  background-color: #bbded6;
}

/* line 415, ../sass/main.scss */
.product-layout {
  margin-bottom: 30px;
}
/* line 417, ../sass/main.scss */
.product-layout .button-group {
  background-color: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: solid 1px #e6e6e6;
  padding: 0;
  overflow: hidden;
}
/* line 424, ../sass/main.scss */
.product-layout .button-group .mini-btn {
  padding: 0;
  background-color: #fff;
  border: 0;
  border-right: 1px solid #e6e6e6;
  width: 50px;
  height: 50px;
  color: #999999;
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
}
/* line 436, ../sass/main.scss */
.product-layout .button-group .one_click {
  border: 0;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  text-align: left;
  color: #4d4d4d;
  padding-left: 15px;
}
/* line 447, ../sass/main.scss */
.product-layout .product-thumb {
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 453, ../sass/main.scss */
.product-layout .product-thumb .image {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 457, ../sass/main.scss */
.product-layout .product-thumb .image a {
  display: block;
}
/* line 459, ../sass/main.scss */
.product-layout .product-thumb .image a img {
  margin: 0 auto;
}
/* line 465, ../sass/main.scss */
.product-layout .product-thumb .caption .name {
  font-family: "ProximaNova";
  font-size: 24px;
  font-weight: 600;
  line-height: 0.67;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

/* line 474, ../sass/main.scss */
.option-name {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #999999;
  display: block;
  margin-bottom: 5px;
}

/* line 482, ../sass/main.scss */
.attributes {
  margin-bottom: 10px;
}

/* line 486, ../sass/main.scss */
.prod-atrib .attributes {
  margin-bottom: 0px;
}
/* line 488, ../sass/main.scss */
.prod-atrib .attributes .option-name {
  margin-bottom: 0;
}

/* line 493, ../sass/main.scss */
.option {
  display: flex;
  flex-direction: row;
}
/* line 496, ../sass/main.scss */
.option .item {
  display: flex;
  flex-direction: column;
  width: 50%;
}
/* line 501, ../sass/main.scss */
.option .item .price {
  font-family: "ProximaNova";
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #e83c4d;
}

/* line 506, ../sass/main.scss */
.wrapper_prod-slider {
  position: relative;
}
/* line 508, ../sass/main.scss */
.wrapper_prod-slider .products_row-btn {
  position: absolute;
  top: -60px;
  right: 21px;
  background-color: transparent;
  border: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
}
/* line 518, ../sass/main.scss */
.wrapper_prod-slider .products_row-prev_btn {
  right: 61px;
  z-index: 1;
}

/* line 524, ../sass/main.scss */
.wrapper_big-slider {
  margin-bottom: 33px;
}
/* line 526, ../sass/main.scss */
.wrapper_big-slider .item {
  position: relative;
}
/* line 528, ../sass/main.scss */
.wrapper_big-slider .item .container-banner_title {
  position: absolute;
  left: 30px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  top: 30px;
  margin-bottom: 17px;
}
/* line 536, ../sass/main.scss */
.wrapper_big-slider .item .container-banner_title .title-banner {
  font-family: "ProximaNova";
  font-size: 48px;
  font-weight: bold;
  line-height: 1.21;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 540, ../sass/main.scss */
.wrapper_big-slider .item .container-banner_title .info-banner {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: left;
  color: #ffffff;
}

/* line 550, ../sass/main.scss */
.slick-dots {
  left: 25px;
  bottom: 30px;
  text-align: left;
}
/* line 554, ../sass/main.scss */
.slick-dots li {
  width: 10px;
  height: 10px;
}
/* line 557, ../sass/main.scss */
.slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: solid 1px #ffffff;
  border-radius: 50%;
}
/* line 563, ../sass/main.scss */
.slick-dots li button:before {
  content: '';
  width: 10px;
  height: 10px;
}
/* line 570, ../sass/main.scss */
.slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
}

/* line 579, ../sass/main.scss */
.container-item_module {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 30px;
}

/* line 583, ../sass/main.scss */
.container-item_module:last-child {
  border-bottom: 0;
}

/* line 587, ../sass/main.scss */
h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}

/* line 597, ../sass/main.scss */
.category-block {
  width: 263px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
/* line 602, ../sass/main.scss */
.category-block h2 {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  border-bottom: solid 2px #e6e6e6;
  margin: 0;
  text-transform: uppercase;
}

/* line 619, ../sass/main.scss */
.panel-heading {
  padding: 0;
  border-bottom: solid 1px #e6e6e6;
}
/* line 622, ../sass/main.scss */
.panel-heading a {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: left;
  color: #4d4d4d;
  text-transform: uppercase;
}
/* line 630, ../sass/main.scss */
.panel-heading a:focus, .panel-heading a:active, .panel-heading a:hover {
  text-decoration: none;
}
/* line 633, ../sass/main.scss */
.panel-heading a span {
  font-size: 7px;
}
/* line 637, ../sass/main.scss */
.panel-heading:last-child {
  border-bottom: 0;
}

/* line 642, ../sass/main.scss */
.panel-collapse li {
  padding: 5px 15px;
}
/* line 644, ../sass/main.scss */
.panel-collapse li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: #bbded6;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #4d4d4d;
  text-transform: none;
}

/* line 663, ../sass/main.scss */
.panel-title .collapsed span {
  transform: rotate(-180deg);
}

/* line 668, ../sass/main.scss */
.subscribe_wrapper {
  background-color: #61c0bf;
  padding: 30px 0;
}
/* line 671, ../sass/main.scss */
.subscribe_wrapper form {
  width: 100%;
}
/* line 674, ../sass/main.scss */
.subscribe_wrapper .form-group {
  margin-bottom: 0;
}
/* line 677, ../sass/main.scss */
.subscribe_wrapper h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
/* line 684, ../sass/main.scss */
.subscribe_wrapper h2 span {
  display: block;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  font-weight: 300;
  margin-top: 12px;
}
/* line 694, ../sass/main.scss */
.subscribe_wrapper input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.88;
  text-align: left;
  color: #b3b3b3;
}

/* line 708, ../sass/main.scss */
.btn-pink {
  width: 263px;
  height: 60px;
  border-radius: 5px;
  background-color: #e83c4d;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.78;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
}
/* line 720, ../sass/main.scss */
.btn-pink:hover {
  color: #fff;
}

/* line 724, ../sass/main.scss */
footer {
  background-color: #fff;
}
/* line 726, ../sass/main.scss */
footer .logo {
  width: 100%;
  margin: 0;
  height: auto;
}
/* line 730, ../sass/main.scss */
footer .logo img {
  width: 100%;
}
/* line 734, ../sass/main.scss */
footer .menu-block {
  background-color: #ffffff;
  justify-content: end;
}
/* line 737, ../sass/main.scss */
footer .menu-block .menu-style {
  padding: 0 0 0 36px;
}
/* line 740, ../sass/main.scss */
footer .menu-block .menu-style li, footer .menu-block .menu-style a {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #4d4d4d;
  text-transform: none;
}
/* line 747, ../sass/main.scss */
footer .menu-block .menu-style li p, footer .menu-block .menu-style a p, footer .menu-block .menu-style a {
  padding: 15.5px 10px;
  text-transform: none;
}
/* line 751, ../sass/main.scss */
footer .menu-block .menu-style li:last-child a {
  padding-right: 5px;
}
/* line 755, ../sass/main.scss */
footer .navbar {
  min-height: inherit;
}

/* line 760, ../sass/main.scss */
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 40px;
}
/* line 766, ../sass/main.scss */
.social .social__item {
  width: 40px;
  height: 40px;
  border: solid 1px #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* line 774, ../sass/main.scss */
.social .social__item a {
  font-size: 18px;
}
/* line 776, ../sass/main.scss */
.social .social__item a.icon-vk {
  font-size: 15px;
}

/* line 782, ../sass/main.scss */
.menu-footer {
  padding-bottom: 20px;
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 13px;
}

/* line 788, ../sass/main.scss */
.copiright p {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0;
  padding-left: 192px;
}
/* line 796, ../sass/main.scss */
.copiright .btn-call {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  color: #61c0bf;
  background-color: white;
  border: 0;
  box-shadow: none;
  padding: 0;
  width: 100%;
}

/* line 808, ../sass/main.scss */
.modal-sm {
  width: 420px;
  border-radius: 8px;
  background-color: #f8f1e5;
  padding: 60px 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) !important;
}

/* line 819, ../sass/main.scss */
.modal-content {
  border-radius: 8px;
  box-shadow: none;
  border: 0;
  background-color: #f8f1e5;
}

/* line 826, ../sass/main.scss */
.modal-body {
  padding: 0;
}

/* line 829, ../sass/main.scss */
.modal-header {
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 0;
}
/* line 833, ../sass/main.scss */
.modal-header h3 {
  text-align: center;
}

/* line 838, ../sass/main.scss */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  opacity: 1;
}

/* line 845, ../sass/main.scss */
.btn-primary {
  min-width: 166px;
  height: 50px;
  border-radius: 5px;
  background-color: #61c0bf;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.78;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 861, ../sass/main.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #bbded6;
}

/* line 865, ../sass/main.scss */
.request_call-form {
  margin-bottom: 30px;
}

/* line 870, ../sass/main.scss */
.payment-info input.form-control,
.modal-body input.form-control {
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #b3b3b3;
}

/* line 882, ../sass/main.scss */
.payment-info {
  margin-bottom: 30px;
}

/* line 885, ../sass/main.scss */
.price-old {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 300;
  text-align: center;
  color: #999999;
}

/* line 892, ../sass/main.scss */
.product-thumb {
  position: relative;
  overflow: hidden;
}

/* line 896, ../sass/main.scss */
.plash {
  width: 159px;
  height: 34px;
  object-fit: contain;
  transform: rotate(-45deg);
  position: absolute;
  top: 25px;
  left: -35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 909, ../sass/main.scss */
.plash span {
  font-size: 16px;
  font-weight: bold;
  line-height: 0.88;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 917, ../sass/main.scss */
.plash.sale-prod {
  background-color: #e83c4d;
}
/* line 920, ../sass/main.scss */
.plash.new-prod {
  background-color: #ff9900;
}

/* line 925, ../sass/main.scss */
h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  margin: 0 0 30px;
  text-transform: uppercase;
}

/* line 934, ../sass/main.scss */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  margin-top: -3px;
}
/* line 941, ../sass/main.scss */
.breadcrumb li {
  padding-right: 22px;
}
/* line 943, ../sass/main.scss */
.breadcrumb li a {
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: left;
  color: #4d4d4d;
}
/* line 946, ../sass/main.scss */
.breadcrumb li span {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #4d4d4d;
}
/* line 954, ../sass/main.scss */
.breadcrumb > li + li {
  position: relative;
}
/* line 956, ../sass/main.scss */
.breadcrumb > li + li:before {
  display: inline-block;
  padding: 0;
  content: "\e902";
  color: #4d4d4d;
  font-size: 7px;
  position: absolute;
  top: 50%;
  left: -17px;
  font-family: 'icomoon' !important;
  transform: translate(0, -50%) rotate(-90deg);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 979, ../sass/main.scss */
.category-page_items {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #61c0bf;
}
/* line 984, ../sass/main.scss */
.category-page_items a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  height: 100%;
}
/* line 994, ../sass/main.scss */
.category-page_items a span {
  display: block;
  font-size: 7px;
  margin-left: 10px;
  transform: rotate(-90deg);
}
/* line 999, ../sass/main.scss */
.category-page_items a span:before {
  color: #fff !important;
}

/* line 1005, ../sass/main.scss */
.sort-wrapper {
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 15px;
}

/* line 1011, ../sass/main.scss */
.control-label {
  display: inline-block;
  float: left;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 300;
  text-align: left;
  color: #4d4d4d;
  min-width: 110px;
}

/* line 1023, ../sass/main.scss */
.all-category {
  margin-bottom: 30px;
}

/* line 1026, ../sass/main.scss */
.category-page_items-whith {
  width: 200px;
  min-height: 240px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
/* line 1033, ../sass/main.scss */
.category-page_items-whith a {
  display: block;
  margin-bottom: 15px;
}
/* line 1036, ../sass/main.scss */
.category-page_items-whith a img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}
/* line 1042, ../sass/main.scss */
.category-page_items-whith a p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #4d4d4d;
}
/* line 1049, ../sass/main.scss */
.category-page_items-whith a span {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #999999;
  width: 100%;
  display: block;
}

/* line 1059, ../sass/main.scss */
.sort-text {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #4d4d4d;
}

/* line 1065, ../sass/main.scss */
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 60px;
}
/* line 1070, ../sass/main.scss */
.pagination > li {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  display: block;
}
/* line 1077, ../sass/main.scss */
.pagination > li.not_active span:hover {
  color: #4d4d4d;
  background-color: transparent;
}
/* line 1080, ../sass/main.scss */
.pagination > li.not_active span:hover i:before {
  color: #4d4d4d !important;
}
/* line 1086, ../sass/main.scss */
.pagination > li a,
.pagination > li span {
  background-color: transparent;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #4d4d4d;
  padding: 0;
}
/* line 1099, ../sass/main.scss */
.pagination > li a:hover,
.pagination > li span:hover {
  background-color: #61c0bf;
  color: #ffffff;
  border-radius: 30px;
}

/* line 1107, ../sass/main.scss */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #61c0bf;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

/* line 1124, ../sass/main.scss */
.prev a i,
.prev span i,
.next a i,
.next span i {
  font-size: 30px;
}
/* line 1129, ../sass/main.scss */
.prev a:hover i:before,
.prev span:hover i:before,
.next a:hover i:before,
.next span:hover i:before {
  color: #fff !important;
}

/* line 1137, ../sass/main.scss */
.sort-select .select2-container {
  width: 200px !important;
}

/* line 1142, ../sass/main.scss */
.limit-select .select2-container {
  width: 70px !important;
}

/* line 1146, ../sass/main.scss */
.select2-container--default .select2-selection--single {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
}

/* line 1152, ../sass/main.scss */
.select2-container .select2-selection--single {
  height: 30px;
}

/* line 1155, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #4d4d4d;
}

/* line 1161, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
  line-height: 30px;
}

/* line 1165, ../sass/main.scss */
.flex-row.sort-select,
.flex-row.limit-select {
  justify-content: flex-end;
}

/* line 1169, ../sass/main.scss */
.wrapper-prod-card {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px 0;
  margin-bottom: 35px;
}

/* line 1175, ../sass/main.scss */
.thumbnail {
  padding: 0;
  border: 0;
  margin-bottom: 0;
  border-radius: 10px;
}

/* line 1181, ../sass/main.scss */
.thumbnails {
  border-radius: 10px;
  overflow: hidden;
}

/* line 1185, ../sass/main.scss */
label.form-checkbox {
  display: flex;
  align-items: center;
}

/* line 1189, ../sass/main.scss */
.form-checkbox input[type="radio"], .form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

/* line 1193, ../sass/main.scss */
.mfilter-col-input input[type="checkbox"], .mfilter-col-input input[type="radio"] {
  margin: 3px 0 2px 0;
}

/* line 1196, ../sass/main.scss */
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #ccc;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}

/* line 1210, ../sass/main.scss */
.form-checkbox__marker::after {
  position: absolute;
  content: '';
  left: 14%;
  top: 18%;
  height: 40%;
  width: 72%;
  border-bottom: 1px solid #e83c4d;
  border-left: 1px solid #e83c4d;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}

/* line 1222, ../sass/main.scss */
.form-checkbox__label span, .form-checkbox__label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 0;
}
/* line 1229, ../sass/main.scss */
.form-checkbox__label span .price, .form-checkbox__label .price {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #e83c4d;
}
/* line 1235, ../sass/main.scss */
.form-checkbox__label span .price .price-old, .form-checkbox__label .price .price-old {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 300;
  text-align: center;
  color: #999999;
}

/* line 1244, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #e83c4d;
}

/* line 1247, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}

/* line 1250, ../sass/main.scss */
.radio {
  margin: 0;
  margin-right: 5px;
}
/* line 1253, ../sass/main.scss */
.radio:last-child {
  margin-right: 0;
}
/* line 1256, ../sass/main.scss */
.radio .form-checkbox {
  padding: 0;
}

/* line 1260, ../sass/main.scss */
.margin-option {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* line 1265, ../sass/main.scss */
.wrapper-padd {
  padding-right: 15px;
}

/* line 1268, ../sass/main.scss */
.qty_block {
  width: 70px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  position: relative;
  margin-right: 15px;
}
/* line 1275, ../sass/main.scss */
.qty_block .wrapp_inputs {
  display: block;
  margin: 0 auto;
}
/* line 1278, ../sass/main.scss */
.qty_block .wrapp_inputs input {
  border: 0;
  padding: 0;
  text-align: center;
}
/* line 1284, ../sass/main.scss */
.qty_block .qty_control {
  font-size: 10px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
/* line 1289, ../sass/main.scss */
.qty_block .qty_control i {
  font-size: 7px;
}
/* line 1292, ../sass/main.scss */
.qty_block .qty_control.minus {
  left: 5px;
  transform: translateY(-50%) rotate(90deg);
}
/* line 1296, ../sass/main.scss */
.qty_block .qty_control.plus {
  right: 5px;
  transform: translateY(-50%) rotate(90deg);
}

/* line 1302, ../sass/main.scss */
.btn-pink_by {
  max-width: 190px;
  height: 40px;
  border-radius: 3px;
  background-color: #e83c4d;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  text-align: left;
  color: #ffffff;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
/* line 1315, ../sass/main.scss */
.btn-pink_by i {
  font-size: 20px;
  margin-right: 10px;
}
/* line 1318, ../sass/main.scss */
.btn-pink_by i:before {
  color: #fff !important;
}
/* line 1322, ../sass/main.scss */
.btn-pink_by:focus, .btn-pink_by:active {
  color: #fff;
}

/* line 1328, ../sass/main.scss */
.prod-atrib .option-name {
  text-align: left;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #4d4d4d;
}
/* line 1334, ../sass/main.scss */
.prod-atrib .option-name span {
  color: #999999;
}

/* line 1339, ../sass/main.scss */
.btn-default {
  width: 160px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #4d4d4d;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  text-align: center;
  color: #4d4d4d;
}

/* line 1352, ../sass/main.scss */
.wrapper-wish .btn-default {
  padding-left: 0;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.07;
  text-align: left;
  color: #999999;
}
/* line 1361, ../sass/main.scss */
.wrapper-wish .btn-default i {
  font-size: 14px;
  margin-right: 10px;
}

/* line 1367, ../sass/main.scss */
.rating {
  margin-top: 23px;
}

/* line 1371, ../sass/main.scss */
.share_wrapp .text {
  font-size: 14px;
  line-height: 1.07;
  text-align: left;
  color: #999999;
  margin-right: 10px;
}
/* line 1378, ../sass/main.scss */
.share_wrapp .share_item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  text-align: left;
  color: #4d4d4d;
  margin-right: 15px;
}
/* line 1385, ../sass/main.scss */
.share_wrapp .share_item a {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  text-align: left;
  color: #4d4d4d;
  margin-right: 15px;
}

/* line 1395, ../sass/main.scss */
.wrapper-description {
  margin-top: 30px;
}
/* line 1397, ../sass/main.scss */
.wrapper-description h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 17px;
  text-transform: none;
}

/* line 1408, ../sass/main.scss */
.txt-description * {
  font-size: 14px !important;
  line-height: 1.29 !important;
  text-align: left !important;
  color: #4d4d4d !important;
}

/* line 1415, ../sass/main.scss */
.col-cart-img {
  width: 46%;
  float: left;
  padding: 0 15px;
}

/* line 1420, ../sass/main.scss */
.col-cart-info {
  padding: 0 15px;
  width: 54%;
  float: left;
}
/* line 1424, ../sass/main.scss */
.col-cart-info h1 {
  margin-bottom: 12px;
}

/* line 1428, ../sass/main.scss */
.wrapper-popop-pur {
  background-color: #fff;
  padding: 30px;
  margin: 0 -30px 30px;
}

/* line 1433, ../sass/main.scss */
#cart-total_count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #e83c4d;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  border-radius: 50%;
}

/* line 1450, ../sass/main.scss */
.btn-left-cart {
  position: relative;
  align-items: center;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}
/* line 1454, ../sass/main.scss */
.btn-left-cart:hover {
  color: #fff;
}

/* line 1458, ../sass/main.scss */
#cart-total {
  position: absolute;
  bottom: -50px;
  left: 0;
  height: 55px;
  width: 90px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #fff;
  background-color: #61c0bf;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  box-shadow: -3px 1px 7px -3px #4d4d4d;
}

/* line 1482, ../sass/main.scss */
.wrapper-cart .cart-container {
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: block;
  float: right;
  width: 390px;
  max-width: 390px;
  padding: 15px;
  height: 100vh;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: #f8f1e5;
  box-shadow: 0 0 7px 0 #4d4d4d;
  z-index: 999;
}
/* line 1499, ../sass/main.scss */
.wrapper-cart .cart-container > ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  height: 100%;
}
/* line 1510, ../sass/main.scss */
.wrapper-cart .cart-container > ul li {
  padding: 6px 0;
  cursor: pointer;
}
/* line 1513, ../sass/main.scss */
.wrapper-cart .cart-container > ul li:hover {
  color: #59e9df;
}
/* line 1515, ../sass/main.scss */
.wrapper-cart .cart-container > ul li:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

/* line 1536, ../sass/main.scss */
.cart-container .btn-left-cart {
  position: absolute;
  left: -90px;
}

/* line 1541, ../sass/main.scss */
.wrapper-cart .cart-container ul {
  right: 0px;
  opacity: 1;
}

/*
  Content
*/
/* line 1546, ../sass/main.scss */
.wrapper-cart.open .cart-container {
  right: 0;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

/* line 1551, ../sass/main.scss */
.wrapper-cart.open .cart-container ul {
  right: 0;
  opacity: 1;
}

/* line 1552, ../sass/main.scss */
.wrapper-cart.open {
  position: absolute;
  top: 0;
  right: 390px;
  transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
}
/* line 1560, ../sass/main.scss */
.wrapper-cart.open button {
  color: #fff;
}

/* line 1568, ../sass/main.scss */
.item-cart {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
}
/* line 1575, ../sass/main.scss */
.item-cart .close {
  font-size: 10px;
  color: #4d4d4d;
  top: 15px;
  right: 15px;
}
/* line 1580, ../sass/main.scss */
.item-cart .close i {
  font-size: 10px;
}
/* line 1582, ../sass/main.scss */
.item-cart .close i:before {
  color: #4d4d4d !important;
}

/* line 1588, ../sass/main.scss */
.btn-pink_by:hover {
  color: #fff;
}

/* line 1591, ../sass/main.scss */
.info-cart {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  align-items: left;
}
/* line 1596, ../sass/main.scss */
.info-cart a {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d !important;
  margin-bottom: 10px;
}
/* line 1604, ../sass/main.scss */
.info-cart .cart-atributs {
  font-size: 13.9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.01;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-bottom: 10px;
}
/* line 1615, ../sass/main.scss */
.info-cart .cart-price {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #e83c4d;
}

/* line 1626, ../sass/main.scss */
.alert {
  background-color: #61c0bf;
  border-radius: 10px;
  position: relative;
  color: #fff;
  text-align: center;
  border: solid 1px #61c0bf;
}
/* line 1633, ../sass/main.scss */
.alert a {
  font-weight: 600;
  text-decoration: underline;
  color: #fff;
}

/* line 1639, ../sass/main.scss */
.img-thumbnail {
  border: 0;
  border-radius: 10px;
  padding: 0;
}

/* line 1644, ../sass/main.scss */
.footer-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 1648, ../sass/main.scss */
.footer-cart .btn-pink {
  width: 100%;
}
/* line 1651, ../sass/main.scss */
.footer-cart .total-block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: right;
  color: #4d4d4d;
  margin-bottom: 30px;
}
/* line 1662, ../sass/main.scss */
.footer-cart .total-block:first-child {
  display: none;
}

/* line 1667, ../sass/main.scss */
.modal_product_info {
  padding-left: 10px;
}
/* line 1669, ../sass/main.scss */
.modal_product_info .margin-option {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}
/* line 1674, ../sass/main.scss */
.modal_product_info h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
}

/* line 1682, ../sass/main.scss */
#popup-checkout-button {
  width: 166px;
  margin: 0 auto;
  line-height: 40px;
}

/* line 1687, ../sass/main.scss */
.flex-colum {
  display: flex;
  flex-direction: column;
}
/* line 1690, ../sass/main.scss */
.flex-colum .radio {
  margin-bottom: 15px;
}

/* line 1694, ../sass/main.scss */
.text-danger,
.error {
  font-weight: 300;
  line-height: 1.11;
  text-align: left;
  color: #e83c4d;
}

/* line 1701, ../sass/main.scss */
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #61c0bf !important;
  border-color: #61c0bf !important;
  color: #fff !important;
}

/* line 1733, ../sass/main.scss */
.mini-title h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  text-transform: none;
}

/* line 1743, ../sass/main.scss */
.checkout-simplecheckout input.form-control {
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 0;
}

/* line 1750, ../sass/main.scss */
textarea.form-control {
  height: 150px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 0;
  resize: none;
}

/* line 1760, ../sass/main.scss */
.simplecheckout-block-content .form-group:nth-child(2n + 2) .row {
  margin-left: 0;
}

/* line 1766, ../sass/main.scss */
.checkout-heading.panel-heading {
  background-color: transparent !important;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  border: 0;
  padding: 15px 0 !important;
}

/* line 1777, ../sass/main.scss */
.wrapp_cart_right {
  width: 100%;
}
/* line 1779, ../sass/main.scss */
.wrapp_cart_right .name {
  margin-bottom: 12px;
}

/* line 1785, ../sass/main.scss */
.simple_item.item-cart .close {
  top: 15px;
  right: 15px;
}
/* line 1790, ../sass/main.scss */
.simple_item.item-cart .image a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
/* line 1796, ../sass/main.scss */
.simple_item.item-cart .name {
  margin-bottom: 5px;
}

/* line 1800, ../sass/main.scss */
.pqt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}

/* line 1807, ../sass/main.scss */
.simple_item {
  position: relative;
}

/* line 1810, ../sass/main.scss */
.quantity {
  width: 70px;
  position: relative;
  height: 30px;
  border: solid 1px #e6e6e6;
  padding: 2px;
  border-radius: 3px;
}
/* line 1817, ../sass/main.scss */
.quantity input {
  padding: 0;
  height: 100% !important;
  text-align: center;
}

/* line 1823, ../sass/main.scss */
.quantity .btn-minus,
.quantity .btn-plus {
  height: 50%;
  width: 32px;
  position: absolute;
  cursor: pointer;
  line-height: 5px;
  text-align: center;
  color: #d0362b;
  background-color: transparent;
  border: 0;
  top: 50%;
  transform: translate(0, -50%) rotate(90deg);
}
/* line 1836, ../sass/main.scss */
.quantity .btn-minus i,
.quantity .btn-plus i {
  font-size: 7px;
}

/* line 1840, ../sass/main.scss */
.quantity .btn-plus {
  right: -5px;
}

/* line 1843, ../sass/main.scss */
.quantity .btn-minus {
  left: -5px;
  z-index: 1;
}

/* line 1847, ../sass/main.scss */
.simple_cart_bottom .simplecheckout-cart-total:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* line 1853, ../sass/main.scss */
.simple_cart_bottom .simplecheckout-cart-total {
  display: none;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
}

/* line 1863, ../sass/main.scss */
.simplecheckout-button-block .btn-pink {
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 1870, ../sass/main.scss */
.simplecheckout {
  margin-bottom: 60px;
}

/* line 1873, ../sass/main.scss */
.checkout-simplecheckout #buttons {
  display: none !important;
}

/* line 1876, ../sass/main.scss */
.btn-simple {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 1880, ../sass/main.scss */
.btn-simple .btn-pink {
  width: 265px;
  text-transform: none;
  float: none;
}
/* line 1885, ../sass/main.scss */
.btn-simple .btn-default {
  width: 270px;
  height: 60px;
  border-radius: 5px;
  border: solid 1px #4d4d4d;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.89;
  text-align: center;
  color: #4d4d4d;
}

/* line 1898, ../sass/main.scss */
#simplecheckout_cart {
  margin-bottom: 160px;
}

/* line 1902, ../sass/main.scss */
.cart_wish {
  position: fixed;
  right: -3px;
  top: 30%;
  z-index: 9;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
}
/* line 1911, ../sass/main.scss */
.cart_wish .wrapper-cart,
.cart_wish .wishlist_wrapp {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background-color: #61c0bf;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 7px;
  box-shadow: 0 0 7px 0 #4d4d4d;
}
/* line 1923, ../sass/main.scss */
.cart_wish .wrapper-cart i,
.cart_wish .wishlist_wrapp i {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}
/* line 1927, ../sass/main.scss */
.cart_wish .wrapper-cart i:before,
.cart_wish .wishlist_wrapp i:before {
  color: #fff !important;
}
/* line 1931, ../sass/main.scss */
.cart_wish .wrapper-cart a,
.cart_wish .wishlist_wrapp a {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 1942, ../sass/main.scss */
.cart_wish .wrapper-cart .wish-text span,
.cart_wish .wishlist_wrapp .wish-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #e83c4d;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  border-radius: 50%;
}
/* line 1960, ../sass/main.scss */
.cart_wish .wrapper-cart .btn-inverse,
.cart_wish .wishlist_wrapp .btn-inverse {
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
/* line 1969, ../sass/main.scss */
.cart_wish .wrapper-cart .btn-inverse #cart-total,
.cart_wish .wishlist_wrapp .btn-inverse #cart-total {
  font-size: 12px;
}

/* line 1976, ../sass/main.scss */
.cart_wish.open-parent {
  top: 58px;
}

/* line 1980, ../sass/main.scss */
.cart_wish.open-parent {
  animation: timing-percents 0.1s linear alternate;
}

/* line 1983, ../sass/main.scss */
.wrapper-cart.open {
  animation: timing-fromto 1.3s linear alternate;
}

@keyframes timing-percents {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 0;
  }
}
@keyframes timing-fromto {
  from {
    right: -50px;
  }
  to {
    right: 390px;
  }
}
/* line 2006, ../sass/main.scss */
.wrapper-contact-info {
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}
/* line 2010, ../sass/main.scss */
.wrapper-contact-info .contact-info {
  min-width: 256px;
  min-height: 178px;
  text-align: center;
  padding: 40px 20px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #808080;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/* line 2023, ../sass/main.scss */
.wrapper-contact-info .contact-info span {
  display: block;
  font-size: 40px;
  margin-bottom: 30px;
}
/* line 2028, ../sass/main.scss */
.wrapper-contact-info .contact-info a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #4d4d4d;
}
/* line 2034, ../sass/main.scss */
.wrapper-contact-info .contact-info a span {
  display: inline;
  margin: 0;
  font-size: 14px;
}
/* line 2040, ../sass/main.scss */
.wrapper-contact-info .contact-info:first-child {
  margin-right: -15px;
}
/* line 2044, ../sass/main.scss */
.wrapper-contact-info:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  border: 1px dashed #e6e6e6;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 2054, ../sass/main.scss */
.wrapper-contact-info:after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  border: 1px dashed #e6e6e6;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* line 2065, ../sass/main.scss */
.wrapper-margin-contact {
  margin-bottom: 120px;
}

/* line 2069, ../sass/main.scss */
.wrapper-information p {
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 33px;
}

/* line 2078, ../sass/main.scss */
.download_link span {
  padding-right: 10px;
}

/* line 2083, ../sass/main.scss */
.show_pass_ch .form-checkbox__label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
}
/* line 2090, ../sass/main.scss */
.show_pass_ch .form-checkbox__marker {
  border: 1px solid #ccc;
}

/* line 2094, ../sass/main.scss */
.fl_login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* line 2100, ../sass/main.scss */
.fl_login a {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: right;
  color: #61c0bf;
  border-bottom: 1px dashed #61c0bf;
}

/* line 2109, ../sass/main.scss */
.social_block {
  margin-top: 30px;
}
/* line 2111, ../sass/main.scss */
.social_block .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 15px;
}
/* line 2119, ../sass/main.scss */
.social_block .wrapp_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 2123, ../sass/main.scss */
.social_block .wrapp_btn button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #4d4d4d;
  padding: 0;
  text-align: center;
  color: #4d4d4d;
  font-size: 18px;
  margin: 0 7.5px;
}
/* line 2135, ../sass/main.scss */
.social_block .wrapp_btn button.google {
  font-size: 16px;
}
/* line 2138, ../sass/main.scss */
.social_block .wrapp_btn button.facebook {
  font-size: 21px;
}

/* line 2144, ../sass/main.scss */
.dropdown-menu {
  min-width: 100%;
  color: #4d4d4d;
  border: solid 1px #cccccc;
  margin: 0;
  padding: 0;
}
/* line 2151, ../sass/main.scss */
.dropdown-menu li a {
  padding: 6px 12px;
}
/* line 2153, ../sass/main.scss */
.dropdown-menu li a:hover {
  background-color: #61c0bf;
  color: #fff;
}

/* line 2161, ../sass/main.scss */
.simplecheckout-block-content .radio {
  margin-bottom: 15px;
}
/* line 2164, ../sass/main.scss */
.simplecheckout-block-content .select2-container .select2-selection--single {
  height: 50px;
}
/* line 2167, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single {
  border: 0;
}
/* line 2170, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  color: #808080;
}
/* line 2174, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__arrow {
  line-height: 50px;
  height: 50px;
}
/* line 2178, ../sass/main.scss */
.simplecheckout-block-content .dropdown-menu {
  width: 100%;
  height: 250px;
  border: 0;
  margin-top: 2px;
  overflow: hidden;
  overflow-y: auto;
}
/* line 2185, ../sass/main.scss */
.simplecheckout-block-content .dropdown-menu li a {
  white-space: pre-wrap;
}

/* line 2190, ../sass/main.scss */
.text-danger {
  margin: 5px 0;
}

/* line 2193, ../sass/main.scss */
.createaccount {
  min-width: 224px;
}

/* line 2196, ../sass/main.scss */
.menu-tablet {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 13px;
}

/* line 2200, ../sass/main.scss */
.sm-menu,
.menu-catalog,
.container-catalog_menu,
.container-for-menu {
  display: none;
}

/* line 2206, ../sass/main.scss */
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 2216, ../sass/main.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #61c0bf;
}

/* line 2219, ../sass/main.scss */
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #cccccc;
}

/* line 2222, ../sass/main.scss */
.select2-dropdown {
  border-color: #cccccc;
}
