@media screen and (max-width: 1199px) {
  /* line 41, ../sass/media.scss */
  .menu-style {
    padding: 0;
  }

  /* line 44, ../sass/media.scss */
  .category-block {
    width: 100%;
  }

  /* line 47, ../sass/media.scss */
  .social {
    padding-left: 15px;
  }

  /* line 50, ../sass/media.scss */
  footer .menu-block .menu-style {
    padding: 0;
  }

  /* line 53, ../sass/media.scss */
  footer .menu-block .menu-style li p,
  footer .menu-block .menu-style a p,
  footer .menu-block .menu-style a {
    padding: 15.5px 8px;
  }

  /* line 58, ../sass/media.scss */
  .category-page_items-whith {
    width: 100%;
  }

  /* line 61, ../sass/media.scss */
  .sort-text {
    margin-right: -15px;
  }

  /* line 64, ../sass/media.scss */
  .product-layout .button-group {
    display: flex;
  }
  /* line 66, ../sass/media.scss */
  .product-layout .button-group .one_click {
    flex: 2;
    height: 50px;
  }

  /* line 71, ../sass/media.scss */
  .flex-colum-md {
    flex-direction: column;
  }
  /* line 73, ../sass/media.scss */
  .flex-colum-md .qty_block {
    margin-bottom: 10px;
  }
  /* line 76, ../sass/media.scss */
  .flex-colum-md button {
    margin-bottom: 10px;
  }

  /* line 80, ../sass/media.scss */
  .col-cart-img {
    width: 100%;
    float: none;
    padding: 0 15px;
    margin-bottom: 20px;
  }
  /* line 85, ../sass/media.scss */
  .col-cart-img img {
    width: 100%;
  }

  /* line 89, ../sass/media.scss */
  .col-cart-info {
    width: 100%;
    float: none;
    padding: 0 15px;
  }
  /* line 93, ../sass/media.scss */
  .col-cart-info .wrapper-padd {
    padding: 0 15px;
  }

  /* line 97, ../sass/media.scss */
  .logo {
    width: 100%;
  }

  /* line 100, ../sass/media.scss */
  .padding_login {
    padding-left: 20px;
  }

  /* line 103, ../sass/media.scss */
  .product-layout .product-thumb .image a img {
    width: 100%;
  }

  /* line 106, ../sass/media.scss */
  .wrapper-contact-info .contact-info {
    min-width: 100%;
  }
  /* line 109, ../sass/media.scss */
  .wrapper-contact-info .contact-info a span {
    display: block;
    font-size: 16px;
    margin: 0;
  }
}
@media screen and (max-width: 991px) {
  /* line 121, ../sass/media.scss */
  .search-container {
    width: 100%;
  }

  /* line 124, ../sass/media.scss */
  .logo {
    margin-bottom: 20px;
  }

  /* line 127, ../sass/media.scss */
  .wraper-shop-info a {
    font-size: 14px;
  }

  /* line 130, ../sass/media.scss */
  .language-wrapper {
    display: none;
  }

  /* line 134, ../sass/media.scss */
  .subscribe_wrapper .flex-row {
    display: block;
  }
  /* line 137, ../sass/media.scss */
  .subscribe_wrapper .btn-pink {
    width: 100%;
  }
  /* line 140, ../sass/media.scss */
  .subscribe_wrapper .col-sm-8 {
    padding-right: 30px;
  }
  /* line 143, ../sass/media.scss */
  .subscribe_wrapper .col-sm-4 {
    padding-left: 30px;
  }
  /* line 146, ../sass/media.scss */
  .subscribe_wrapper h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  /* line 149, ../sass/media.scss */
  .subscribe_wrapper h2 span {
    display: inline;
  }

  /* line 154, ../sass/media.scss */
  .menu-footer {
    margin-bottom: 0;
  }
  /* line 156, ../sass/media.scss */
  .menu-footer .flex-row {
    justify-content: space-between;
  }

  /* line 161, ../sass/media.scss */
  .items-help_elements i {
    display: none;
  }

  /* line 165, ../sass/media.scss */
  .flex-colum-xs {
    position: relative;
  }

  /* line 168, ../sass/media.scss */
  .btn-toggle-menu {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #61c0bf;
    padding: 3px 0;
    font-size: 25px;
    line-height: 50px;
  }

  /* line 177, ../sass/media.scss */
  .sm-menu {
    display: block;
    position: absolute;
    top: 35%;
    transform: translate(0, -35%);
    left: 0;
    z-index: 9;
  }

  /* line 185, ../sass/media.scss */
  .container-for-menu {
    display: block;
    position: absolute;
    width: 100%;
    left: -100%;
    height: 100vh;
    background-color: #61c0bf;
    z-index: 99;
    padding: 60px 0;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  /* line 198, ../sass/media.scss */
  .container-for-menu .mini-menu {
    flex-direction: column;
  }
  /* line 200, ../sass/media.scss */
  .container-for-menu .mini-menu li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  /* line 204, ../sass/media.scss */
  .container-for-menu .mini-menu li a {
    text-align: center;
    display: block;
  }
  /* line 208, ../sass/media.scss */
  .container-for-menu .mini-menu li:last-child {
    border-bottom: 0;
  }

  /* line 215, ../sass/media.scss */
  .btn-toggle-catalog.close-menu,
  .close-menu {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 20px;
  }
  /* line 225, ../sass/media.scss */
  .btn-toggle-catalog.close-menu i:before,
  .close-menu i:before {
    color: #fff;
  }

  /* line 230, ../sass/media.scss */
  .menu-catalog {
    display: block;
  }

  /* line 236, ../sass/media.scss */
  .container-for-menu.active-menu {
    left: 0;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  /* line 242, ../sass/media.scss */
  .navbar {
    min-height: 70px;
  }

  /* line 245, ../sass/media.scss */
  .btn-toggle-catalog {
    background-color: #61c0bf;
    padding: 0;
    color: white;
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 255, ../sass/media.scss */
  .btn-toggle-catalog span {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  }
  /* line 261, ../sass/media.scss */
  .btn-toggle-catalog i.icon-catalog {
    font-size: 30px;
    margin-right: 15px;
  }
  /* line 265, ../sass/media.scss */
  .btn-toggle-catalog i.icon-up-arrow {
    display: inline-block;
    font-size: 10px;
    transform: rotate(90deg);
    margin-left: 10px;
  }
  /* line 270, ../sass/media.scss */
  .btn-toggle-catalog i.icon-up-arrow:before {
    color: #fff;
  }

  /* line 275, ../sass/media.scss */
  .container-catalog_menu {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    height: 100vh;
    background-color: #61c0bf;
    z-index: 99;
    padding: 60px 0;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  /* line 289, ../sass/media.scss */
  .container-catalog_menu .category-block {
    background-color: #61c0bf;
    border-radius: 0;
    margin-bottom: 0;
  }
  /* line 293, ../sass/media.scss */
  .container-catalog_menu .category-block h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 0;
    color: #ffffff;
    margin-bottom: 60px;
  }
  /* line 301, ../sass/media.scss */
  .container-catalog_menu .category-block .panel-heading a {
    justify-content: center;
    color: #ffffff;
  }
  /* line 304, ../sass/media.scss */
  .container-catalog_menu .category-block .panel-heading a span {
    display: none;
  }
  /* line 308, ../sass/media.scss */
  .container-catalog_menu .category-block .panel-title {
    font-size: 14px;
  }
  /* line 311, ../sass/media.scss */
  .container-catalog_menu .category-block .panel-collapse li {
    width: 25%;
    float: left;
  }
  /* line 314, ../sass/media.scss */
  .container-catalog_menu .category-block .panel-collapse li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    text-align: center;
    color: #4d4d4d;
  }

  /* line 324, ../sass/media.scss */
  .container-catalog_menu.active-menu {
    top: 0;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  /* line 330, ../sass/media.scss */
  .simplecheckout-block-content .form-group:nth-child(2n+2) .row {
    margin-left: -15px;
  }

  /* line 333, ../sass/media.scss */
  .simplecheckout-right-column {
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  /* line 341, ../sass/media.scss */
  .flex-colum-xs {
    flex-direction: column;
  }

  /* line 345, ../sass/media.scss */
  .wraper-shop-info a {
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
  }
  /* line 350, ../sass/media.scss */
  .wraper-shop-info a:first-child {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    margin-right: 0;
  }

  /* line 363, ../sass/media.scss */
  .logo img {
    display: block;
    margin: 0 auto;
    height: 100%;
  }

  /* line 370, ../sass/media.scss */
  .items-help_elements .items-container-flex_col.xs-flex-row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
  }

  /* line 377, ../sass/media.scss */
  .login-wrapper {
    width: 100%;
  }

  /* line 380, ../sass/media.scss */
  .padding_login {
    padding: 0 15px;
  }

  /* line 386, ../sass/media.scss */
  .wrapper_big-slider .item .container-banner_title .title-banner {
    font-size: 28px;
  }
  /* line 389, ../sass/media.scss */
  .wrapper_big-slider .item .container-banner_title .info-banner {
    font-size: 14px;
  }

  /* line 395, ../sass/media.scss */
  .subscribe_wrapper .col-sm-4,
  .subscribe_wrapper .col-sm-8 {
    padding: 0 15px;
    margin-bottom: 10px;
  }

  /* line 401, ../sass/media.scss */
  .subscribe_wrapper input {
    height: 40px;
  }
  /* line 404, ../sass/media.scss */
  .subscribe_wrapper .btn-pink {
    width: 220px;
    margin: 0 auto;
    display: block;
    float: none;
  }

  /* line 411, ../sass/media.scss */
  .cart_wish .wrapper-cart,
  .cart_wish .wishlist_wrapp {
    width: 66px;
    height: 66px;
  }

  /* line 416, ../sass/media.scss */
  .cart_wish .wrapper-cart i, .cart_wish .wishlist_wrapp i {
    font-size: 21px;
    margin-bottom: 5px;
  }

  /* line 420, ../sass/media.scss */
  .btn-left-cart,
  .cart_wish .wrapper-cart a, .cart_wish .wishlist_wrapp a {
    font-size: 12px;
  }

  /* line 424, ../sass/media.scss */
  #cart-total_count,
  .cart_wish .wrapper-cart .wish-text span,
  .cart_wish .wishlist_wrapp .wish-text span {
    width: 15px;
    height: 15px;
    font-size: 10px;
  }

  /* line 431, ../sass/media.scss */
  #cart-total_count {
    top: 5px;
  }

  /* line 434, ../sass/media.scss */
  .cart_wish .wrapper-cart .btn-inverse, .cart_wish .wishlist_wrapp .btn-inverse {
    padding-top: 5px;
  }

  /* line 437, ../sass/media.scss */
  #cart-total {
    width: 66px;
    font-size: 10px !important;
    height: 40px;
    bottom: -35px;
  }

  /* line 443, ../sass/media.scss */
  .btn-toggle-menu {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 28px;
  }

  /* line 450, ../sass/media.scss */
  .sm-menu {
    width: 30px;
    height: 30px;
    top: 20%;
    transform: translate(0, -20%);
  }

  /* line 456, ../sass/media.scss */
  .navbar {
    min-height: 45px;
  }

  /* line 459, ../sass/media.scss */
  .btn-toggle-catalog {
    height: 45px;
  }

  /* line 462, ../sass/media.scss */
  .icon-catalog {
    display: none;
  }

  /* line 465, ../sass/media.scss */
  .wrapper_big-slider .item .container-banner_title {
    left: 15px;
    top: 15px;
  }

  /* line 469, ../sass/media.scss */
  .wrapper_big-slider .item .container-banner_title .title-banner {
    font-size: 18px;
  }

  /* line 472, ../sass/media.scss */
  .wrapper_big-slider .item .container-banner_title .info-banner {
    font-size: 12px;
  }

  /* line 475, ../sass/media.scss */
  .slick-dots {
    left: 10px;
    bottom: 10px;
  }

  /* line 479, ../sass/media.scss */
  .logo img {
    padding-left: 0;
  }

  /* line 482, ../sass/media.scss */
  footer .logo img {
    padding-left: 0;
  }

  /* line 485, ../sass/media.scss */
  footer .menu-block .menu-style {
    display: block;
    margin: 0;
  }
  /* line 488, ../sass/media.scss */
  footer .menu-block .menu-style li {
    display: inline-block;
    float: left;
  }

  /* line 493, ../sass/media.scss */
  footer .navbar {
    padding: 0 15px;
  }

  /* line 496, ../sass/media.scss */
  .xs-flex-colum {
    flex-direction: column;
  }
  /* line 498, ../sass/media.scss */
  .xs-flex-colum .radio {
    margin-bottom: 10px;
    justify-content: left;
    width: 100%;
    margin-right: 0;
  }

  /* line 505, ../sass/media.scss */
  .copiright p {
    padding: 0;
  }

  /* line 508, ../sass/media.scss */
  .qty_block {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }

  /* line 514, ../sass/media.scss */
  .flex-colum-xs button {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }

  /* line 520, ../sass/media.scss */
  .share_wrapp .share_item {
    font-size: 12px;
    margin-right: 10px;
  }
  /* line 523, ../sass/media.scss */
  .share_wrapp .share_item a {
    font-size: 12px;
    margin-right: 0;
  }

  /* line 528, ../sass/media.scss */
  .logo {
    margin-bottom: 5px;
  }
  /* line 530, ../sass/media.scss */
  .logo img {
    padding-left: 0px;
  }

  /* line 534, ../sass/media.scss */
  .wrapper-contact-info {
    margin-bottom: 20px;
  }
  /* line 536, ../sass/media.scss */
  .wrapper-contact-info:after, .wrapper-contact-info:before {
    display: none;
  }
  /* line 543, ../sass/media.scss */
  .wrapper-contact-info .col-md-6:last-child .contact-info:before {
    content: '';
    display: none;
  }

  /* line 552, ../sass/media.scss */
  .contact-info:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border: 1px dashed #e6e6e6;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 580px) {
  /* line 568, ../sass/media.scss */
  .col-cart-info .wrapper-padd {
    text-align: center;
  }

  /* line 571, ../sass/media.scss */
  .col-cart-info h1 {
    text-align: center;
  }

  /* line 574, ../sass/media.scss */
  .logo {
    height: auto;
    margin-bottom: 5px;
  }
  /* line 577, ../sass/media.scss */
  .logo img {
    padding-left: 20px;
  }

  /* line 581, ../sass/media.scss */
  .modal-sm {
    width: 300px;
    padding: 30px 15px;
    margin: 0 auto;
  }

  /* line 586, ../sass/media.scss */
  .modal-header {
    padding-bottom: 15px;
  }

  /* line 589, ../sass/media.scss */
  .wrapper-popop-pur {
    margin: 0 -15px 15px;
    padding: 15px;
  }
}
