@charset "UTF-8";
/* line 2, ../sass/sergo.scss */
.gallery_wrapp .item {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

/* line 9, ../sass/sergo.scss */
.account_title {
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 30px;
}

/* line 17, ../sass/sergo.scss */
.account_left_bar {
  border-radius: 3px;
  background-color: white;
  padding: 20px 20px 2px 20px;
  list-style: none;
}
/* line 22, ../sass/sergo.scss */
.account_left_bar li {
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #b3b3b3;
}
/* line 23, ../sass/sergo.scss */
.account_left_bar li:before {
  display: none;
}
/* line 33, ../sass/sergo.scss */
.account_left_bar li.active a {
  color: black;
}
/* line 38, ../sass/sergo.scss */
.account_left_bar a {
  color: #b3b3b3;
  text-decoration: none;
}
/* line 41, ../sass/sergo.scss */
.account_left_bar a:hover {
  color: black;
}

/* line 49, ../sass/sergo.scss */
.account-simpleedit .simple-content {
  margin: 0px;
}
/* line 52, ../sass/sergo.scss */
.account-simpleedit h1 {
  display: none;
}
/* line 56, ../sass/sergo.scss */
.account-simpleedit .simpleregister-block-content {
  padding: 0px 0px 10px 0px;
  margin: 0px -15px 10px -15px;
  border-radius: 10px;
  background-color: transparent;
}
/* line 61, ../sass/sergo.scss */
.account-simpleedit .simpleregister-block-content .form-control {
  border-color: white;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}
/* line 69, ../sass/sergo.scss */
.account-simpleedit .simpleregister-block-content .row {
  margin: 0px;
}
/* line 72, ../sass/sergo.scss */
.account-simpleedit .simpleregister-block-content .form-group {
  width: 50%;
  margin: 0px;
  float: left;
  margin-bottom: 15px;
}
/* line 79, ../sass/sergo.scss */
.account-simpleedit .buttons {
  padding: 0px;
  background-color: transparent;
}
/* line 82, ../sass/sergo.scss */
.account-simpleedit .buttons .btn {
  line-height: 40px;
}

/* line 89, ../sass/sergo.scss */
.account-password #password_form {
  padding: 0px 0px 15px 0px;
  border-radius: 3px;
  background-color: transparent;
}
/* line 93, ../sass/sergo.scss */
.account-password #password_form input {
  border-color: white;
  height: 50px;
}
/* line 98, ../sass/sergo.scss */
.account-password .buttons {
  margin-top: 5px;
}

/* line 104, ../sass/sergo.scss */
.order_histor_list {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 3px;
}
/* line 110, ../sass/sergo.scss */
.order_histor_list .order_histor_item {
  display: table-row;
}
/* line 112, ../sass/sergo.scss */
.order_histor_list .order_histor_item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
/* line 116, ../sass/sergo.scss */
.order_histor_list .history_block {
  display: table-cell;
  padding: 10px;
  border-right: 1px solid #e6e6e6;
}
/* line 120, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(1) {
  width: 60%;
}
/* line 123, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(2) {
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
/* line 128, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(3) {
  width: 20%;
  vertical-align: middle;
  text-align: center;
  border-right: 0px;
}
/* line 135, ../sass/sergo.scss */
.order_histor_list .wrapp_img {
  margin-right: 15px;
  float: left;
}
/* line 140, ../sass/sergo.scss */
.order_histor_list .name {
  margin-bottom: 10px;
}
/* line 142, ../sass/sergo.scss */
.order_histor_list .name a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/* line 146, ../sass/sergo.scss */
.order_histor_list .name a:hover {
  color: #61c0bf;
}
/* line 151, ../sass/sergo.scss */
.order_histor_list .article {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
/* line 156, ../sass/sergo.scss */
.order_histor_list .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 165, ../sass/sergo.scss */
.order_histor_list .options .option_item {
  margin-right: 20px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}
/* line 172, ../sass/sergo.scss */
.order_histor_list .price {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #e83c4d;
}
/* line 178, ../sass/sergo.scss */
.order_histor_list .text_status {
  font-size: 12px;
  text-align: center;
  color: #000000;
}
/* line 183, ../sass/sergo.scss */
.order_histor_list .status {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #e83c4d;
  margin: 5px 0px;
}
/* line 190, ../sass/sergo.scss */
.order_histor_list .date {
  font-size: 14px;
  text-align: center;
  color: #b3b3b3;
}
/* line 196, ../sass/sergo.scss */
.order_histor_list .inside a {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #000000;
}
/* line 201, ../sass/sergo.scss */
.order_histor_list .inside a:hover {
  text-decoration: none;
  color: #e83c4d;
}

/* line 210, ../sass/sergo.scss */
.order_wrapp {
  background-color: white;
  border-radius: 3px;
}
/* line 213, ../sass/sergo.scss */
.order_wrapp .top_panel {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: -1px;
  padding: 13px 15px 11px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 226, ../sass/sergo.scss */
.order_wrapp .top_panel .status {
  font-size: 14px;
  color: #000000;
}
/* line 229, ../sass/sergo.scss */
.order_wrapp .top_panel .status span {
  font-size: 16px;
  font-weight: 600;
  color: #e83c4d;
}
/* line 235, ../sass/sergo.scss */
.order_wrapp .top_panel .date {
  font-size: 14px;
  color: #b3b3b3;
}
/* line 241, ../sass/sergo.scss */
.order_wrapp .products .pr_item {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: -1px;
  padding: 15px 15px 20px 15px;
  overflow: hidden;
}
/* line 247, ../sass/sergo.scss */
.order_wrapp .products .wrapp_img {
  margin-right: 15px;
  float: left;
}
/* line 252, ../sass/sergo.scss */
.order_wrapp .products .name {
  margin-bottom: 10px;
}
/* line 254, ../sass/sergo.scss */
.order_wrapp .products .name a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/* line 258, ../sass/sergo.scss */
.order_wrapp .products .name a:hover {
  color: #e83c4d;
}
/* line 263, ../sass/sergo.scss */
.order_wrapp .products .article {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
/* line 268, ../sass/sergo.scss */
.order_wrapp .products .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 277, ../sass/sergo.scss */
.order_wrapp .products .options .option_item {
  margin-right: 20px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}
/* line 284, ../sass/sergo.scss */
.order_wrapp .products .price {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #e83c4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 301, ../sass/sergo.scss */
.order_wrapp .total .total_item {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
}
/* line 314, ../sass/sergo.scss */
.order_wrapp .total .total_item:nth-child(1) {
  display: none;
}
/* line 318, ../sass/sergo.scss */
.order_wrapp .total .total_item:nth-child(3) .title {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}
/* line 326, ../sass/sergo.scss */
.order_wrapp .total .title {
  font-size: 14px;
  text-align: left;
  color: #000000;
  padding: 0px 15px;
}
/* line 332, ../sass/sergo.scss */
.order_wrapp .total .text {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #e83c4d;
  padding: 0px 15px;
}
/* line 340, ../sass/sergo.scss */
.order_wrapp .customer_info {
  padding: 5px 0px;
}
/* line 342, ../sass/sergo.scss */
.order_wrapp .customer_info .customer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
/* line 351, ../sass/sergo.scss */
.order_wrapp .customer_info .text1 {
  width: 200px;
  font-size: 14px;
  color: #b3b3b3;
}
/* line 356, ../sass/sergo.scss */
.order_wrapp .customer_info .text2 {
  width: calc(100% - 200px);
  font-size: 14px;
  color: #000000;
}

/* line 364, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content {
  padding: 0px;
  margin: 0px -15px;
}
/* line 367, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content .form-control {
  height: 50px;
}
/* line 370, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content .row {
  margin: 0px;
}
/* line 374, ../sass/sergo.scss */
.account-simpleregister .simple-content {
  margin: 0px;
}
/* line 376, ../sass/sergo.scss */
.account-simpleregister .simple-content .buttons {
  background-color: transparent;
}

/* line 381, ../sass/sergo.scss */
.downloads_list {
  margin-bottom: 70px;
}
/* line 383, ../sass/sergo.scss */
.downloads_list .download_thumb {
  margin-bottom: 30px;
}
/* line 386, ../sass/sergo.scss */
.downloads_list .file_item {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
  height: 190px;
}
/* line 392, ../sass/sergo.scss */
.downloads_list .file_item .file_flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
/* line 396, ../sass/sergo.scss */
.downloads_list .file_item .file_flex .thumb {
  width: 75px;
}
/* line 399, ../sass/sergo.scss */
.downloads_list .file_item .file_flex .name {
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  margin-left: 20px;
}
/* line 408, ../sass/sergo.scss */
.downloads_list .file_item .download_link {
  height: 40px;
  border-radius: 3px;
  background-color: #61c0bf;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 11px 25px;
  display: inline-block;
  text-decoration: none;
}
/* line 419, ../sass/sergo.scss */
.downloads_list .file_item .download_link:active {
  -webkit-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
  -moz-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
  box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
}

@media screen and (max-width: 767px) {
  /* line 433, ../sass/sergo.scss */
  .order_histor_list {
    display: block;
  }
  /* line 435, ../sass/sergo.scss */
  .order_histor_list .order_histor_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 442, ../sass/sergo.scss */
  .order_histor_list .history_block {
    display: block;
    margin-bottom: -1px;
  }
  /* line 445, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(1) {
    width: 100%;
    margin-bottom: -1px;
  }
  /* line 449, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(2) {
    width: 50%;
  }
  /* line 452, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3) {
    width: 50%;
  }
  /* line 454, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3):before {
    /* для IE8+ */
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }
  /* line 461, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3) .inside {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 471, ../sass/sergo.scss */
  .order_wrapp .products .price {
    clear: left;
    padding-top: 10px;
    font-size: 15px;
    overflow: hidden;
  }
  /* line 479, ../sass/sergo.scss */
  .order_wrapp .total .text {
    font-size: 15px;
    white-space: nowrap;
  }
  /* line 485, ../sass/sergo.scss */
  .order_wrapp .customer_info .customer_item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px 10px;
  }
  /* line 497, ../sass/sergo.scss */
  .order_wrapp .customer_info .text1 {
    width: auto;
  }
  /* line 500, ../sass/sergo.scss */
  .order_wrapp .customer_info .text2 {
    width: auto;
  }
}
