@import url("fonts.css");
@import url("sergo.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700");

$main_font : 'ProximaNova';

$seafoam-blue: #61c0bf;
$white: #ffffff;
$cloudy-blue: #bbded6;
$pinkish-grey: #cccccc;
$greyish-brown: #4d4d4d;
$lipstick: #e83c4d;
$warm-grey: #999999;
$beige: #f8f1e5;

@mixin banner-title {
  font-family: $main_font;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.21;
  text-align: left;
  color: $white;
}

@mixin product_name {
  font-family: $main_font;
  font-size: 24px;
  font-weight: 600;
  line-height: 0.67;
  text-align: center;
  color: $greyish-brown;
}

@mixin price {
  font-family: $main_font;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: $lipstick;
}

@mixin ProximaNovaBold {
  font-family: $main_font;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: $white;
}

@mixin Text-Style {
  font-family: $main_font;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: $greyish-brown;
}

@mixin category_name {
  font-family: $main_font;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: left;
  color: $greyish-brown;
}

@mixin login {
  font-family: $main_font;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: left;
  color: $greyish-brown;
}
h2 {
  font-family: $main_font;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $greyish-brown;

}
html,
body {
  height: 100%;
  font-family: $main_font;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*{
  outline:0px!important;
  font-family: $main_font;
  box-sizing: border-box;
}
*:focus,
*:active{
  outline: 0px!important;
  text-shadow: none;
  box-shadow: none!important;
}
a:hover{
  text-decoration: none;
}
a:focus{
  outline: 0px !important;
}
#content{
  min-height: auto;
  //padding-bottom: 30px;
}

@mixin t-y{
  top: 50%;
  transform: translateY(-50%);
}
@mixin t-x{
  left: 50%;
  transform: translateX(-50%);
}
@mixin t-xy{
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
$shadowlength: 60;

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through $shadowlength {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}
.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x:hidden ;
}
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 17px 0 18px;
  flex: 0 0 auto;
  margin-bottom: 0;
}

.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  background-color: $beige;
  padding-top: 30px;
}
.mfp-close{
  &:hover{
    cursor: pointer!important;
  }
}
footer {
  flex: 0 0 auto;
  background-color: #282828;
  padding: 20px 0 20px;
}
.slick-slider{
  opacity: 0;
  &>.item:not(:first-child){
    display: none;
  }
  &.slick-initialized{
    opacity: 1;
  }
}
.slick-slider{
  opacity: 0;
  & > .item:not(:first-child){
    display: none!important;
  }
}
.slick-slider.slick-initialized{
  opacity: 1;
}
.wrapper_big-slider >.item:not(:first-child){
  display: none!important;
}
body{
  font-family: $main_font;

}
header{
  .flex-wrapper{
    min-height: 66px;
  }
  .flex-container{
    display: flex;
    align-items: center;
  }
}

.top-info{
  padding: 20px 0 15px;
  border: solid 1px #e6e6e6;
}
.wraper-shop-info{
  text-align: center;
  a{
    @include Text-Style;
  }
}
body{
  position: relative;
}

.logo{
  width: 406px;
  height: 95px;
  margin: 0 auto;
  margin-top: -15px;
}
input.form-control{
  height: 50px;
  border-radius: 3px;
  background-color: $white;
  border: solid 1px $white;
  font-family: $main_font;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  box-shadow: none;
}
.items-help_elements{
  display: flex;
  .items-container-flex_col{
    display: flex;
    flex-direction: column;
  }
  i{
    font-size: 30px;
    margin-right: 10px;
  }
  .login{
    @include login;
    margin-bottom: 5px;
  }
  .register{
    font-size: 13px;
    line-height: 1.08;
    text-align: left;
    color: $greyish-brown;
  }
}
.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.padding_login{
  padding-left: 67px;
}
.search-container{
  width: 263px;
  height: 38px;
  position: relative;
  span{
    position: absolute;
    width: 40px;
    height: 38px;
    display: block;
    z-index: 2;
    right: 0;
    @include t-y;
    .btn{
      width: 100%;
      height: 38px;
      padding: 0 5px;
      border: 0;
      line-height: 30px;
      i{
        font-size: 16px;
        line-height: 38px;
      }
    }
  }
  input.form-control{
    height: 40px;
    border-radius: 3px;
    border: solid 1px $pinkish-grey!important;
    font-family: $main_font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #808080;
    box-shadow: none;
  }
}
.language-wrapper{
  width: 85px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px $pinkish-grey;
  .btn-group{
    width: 100%;
    height: 40px;
  }
  .btn-link{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    color: $greyish-brown;
    i{
      font-size: 5px;
    }
    &:focus,
    &:active,
    &:hover{
      text-decoration: none;
      color: $greyish-brown!important;
    }
  }
}
.flex-row{
  display: flex;
  align-items: center;
}
.menu-block {
  background-color: $seafoam-blue;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
.navbar-collapse{
  padding: 0;
}
.menu-style{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0 90px;
  li,a{
    text-transform: uppercase;
    height: 52px;
    @include ProximaNovaBold;
    p{
      padding: 15px;
      margin-bottom: 0;
      height: 52px;
    }

    &:hover{
      background-color: $cloudy-blue;
    }
  }
  li{
    a{
      line-height: 22px;
    }
  }
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: $cloudy-blue;
}
.product-layout{
  margin-bottom: 30px;
  .button-group{
    background-color: $white;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-top: solid 1px #e6e6e6;
    padding: 0;
    overflow: hidden;
    .mini-btn{
      padding: 0;
      background-color: #fff;
      border: 0;
      border-right: 1px solid #e6e6e6;
      width: 50px;
      height: 50px;
      color: $warm-grey;
      border-radius: 0;
      box-shadow: none;
      font-size: 18px;
    }
    .one_click{
      border: 0;
      background-color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.07;
      text-align: left;
      color: $greyish-brown;
      padding-left: 15px;
    }
  }
  .product-thumb{
    padding: 15px;
    border-radius: 10px;
    background-color: $white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    .image{
      margin-bottom: 20px;
      border-radius: 10px;
      overflow: hidden;
      a{
        display: block;
        img{
          margin: 0 auto;
        }
      }
    }
    .caption{
      .name{
        @include product_name;
        margin-bottom: 20px;
        text-align: center;
        display: block;
      }
    }
  }
}
.option-name{
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $warm-grey;
  display: block;
  margin-bottom: 5px;
}
.attributes{
  margin-bottom: 10px;
}
.prod-atrib{
  .attributes{
    margin-bottom: 0px;
    .option-name{
      margin-bottom: 0;
    }
  }
}
.option{
  display: flex;
  flex-direction: row;
  .item{
    display: flex;
    flex-direction: column;
    width: 50%;

    .price{
      @include price;
    }
  }
}
.wrapper_prod-slider{
  position: relative;
  .products_row-btn{
    position: absolute;
    top: -60px;
    right: 21px;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
  .products_row-prev_btn{
    right: 61px;
    z-index: 1;
  }
}

.wrapper_big-slider{
  margin-bottom: 33px;
  .item{
    position: relative;
    .container-banner_title{
      position: absolute;
      left: 30px;
      z-index: 9;
      display: flex;
      flex-direction: column;
      top: 30px;
      margin-bottom: 17px;
      .title-banner{
        @include banner-title;
        text-transform: uppercase;
      }
      .info-banner{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
        color: $white;
      }
    }
  }
}
.slick-dots{
  left: 25px;
  bottom: 30px;
  text-align: left;
  li{
    width: 10px;
    height: 10px;
    button{
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: solid 1px $white;
      border-radius: 50%;
      &:before{
        content: '';
        width: 10px;
        height: 10px;
      }
    }
    &.slick-active{
      button{
        width: 10px;
        height: 10px;
        background-color: $white;
        border: solid 1px $white;
      }
    }
  }
}
.container-item_module{
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 30px;
}
.container-item_module:last-child{
    border-bottom: 0;
}

h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: $greyish-brown;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}
.category-block{
  width: 263px;
  border-radius: 10px;
  background-color: $white;
  margin-bottom: 30px;
  h2{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: $greyish-brown;
    border-bottom: solid 2px #e6e6e6;
    margin: 0;
    text-transform: uppercase;
  }


  //.accordeon{
  //
  //}
}
.panel-heading{
  padding: 0;
  border-bottom: solid 1px #e6e6e6;
  a{
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include category_name;
    text-transform: uppercase;
    &:focus,&:active,&:hover{
      text-decoration: none;
    }
    span{
      font-size: 7px;
    }
  }
  &:last-child{
    border-bottom: 0;
  }
}
.panel-collapse{
  li{
    padding: 5px 15px;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      border-radius: 3px;
      background-color: $cloudy-blue;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      color: $greyish-brown;
      text-transform: none;
    }
  }
}
.panel-title{
  .collapsed{
    span{
      transform: rotate(-180deg);
    }
  }
}
.subscribe_wrapper{
  background-color: $seafoam-blue;
  padding: 30px 0;
  form{
    width: 100%;
  }
  .form-group{
    margin-bottom: 0;
  }
  h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: $white;
    margin: 0;
    span{
      display: block;
      font-size: 16px;
      line-height: 1;
      text-align: left;
      color: $white;
      font-weight: 300;
      margin-top: 12px;
    }
  }
  input{
    width:100%;
    height: 60px;
    border-radius: 5px;
    background-color: $white;
    border: solid 1px $white;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.88;
    text-align: left;
    color: #b3b3b3;
  }

}
.btn-pink{
  width:263px;
  height: 60px;
  border-radius: 5px;
  background-color: $lipstick;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.78;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  float: right;
  &:hover{
    color: #fff;
  }
}
footer{
  background-color: #fff;
  .logo{
    width: 100%;
    margin: 0;
    height: auto;
    img{
      width: 100%;
    }
  }
  .menu-block{
    background-color: $white;
    justify-content: end;
    .menu-style{
      padding: 0 0 0 36px;
    }
    .menu-style li, .menu-style a{
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      color: $greyish-brown;
      text-transform: none;
    }
    .menu-style li p, .menu-style a p, .menu-style a{
      padding: 15.5px 10px;
      text-transform: none;
    }
    .menu-style li:last-child a{
      padding-right: 5px;
    }
  }
  .navbar{
    min-height: inherit;
  }

}
.social{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 40px;
  .social__item{
    width: 40px;
    height: 40px;
    border: solid 1px $greyish-brown;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    a{
      font-size: 18px;
      &.icon-vk{
        font-size: 15px;
      }
    }
  }
}
.menu-footer{
  padding-bottom: 20px;
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 13px;
}
.copiright{
  p{
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: $greyish-brown;
    margin-bottom: 0;
    padding-left: 192px;
  }
  .btn-call{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: $seafoam-blue;
    background-color: white;
    border: 0;
    box-shadow: none;
    padding: 0;
    width: 100%;
  }
}
.modal-sm{
  width: 420px;
  border-radius: 8px;
  background-color: $beige;
  padding: 60px 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0,-50%)!important;
}
.modal-content{
  border-radius: 8px;
  box-shadow: none;
  border: 0;
  //overflow: hidden;
  background-color: $beige;
}
.modal-body{
  padding: 0;
}
.modal-header{
  padding: 0 ;
  padding-bottom: 30px;
  border-bottom: 0;
  h3{
    text-align: center;
  }

}
.close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  opacity: 1;
}
.btn-primary{
  min-width: 166px;
  height: 50px;
  border-radius: 5px;
  background-color: $seafoam-blue;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.78;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  border: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,&:focus,&:active{
    background-color: $cloudy-blue;
  }
}
.request_call-form{
  margin-bottom: 30px;
}
.payment-info,
.modal-body{
  input.form-control{
    height: 50px;
    border-radius: 3px;
    background-color: $white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #b3b3b3;
  }
}
.payment-info{
  margin-bottom: 30px;
}
.price-old{
  font-size: 12px;
  line-height: 1.14;
  font-weight: 300;
  text-align: center;
  color: $warm-grey;
}
.product-thumb{
  position: relative;
  overflow: hidden;
}
.plash{
  width: 159px;
  height: 34px;
  object-fit: contain;
  transform: rotate(-45deg);

  position: absolute;
  top: 25px;
  left: -35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    font-size: 16px;
    font-weight: bold;
    line-height: 0.88;
    text-align: left;
    color: $white;
    text-transform: uppercase;
  }
  &.sale-prod{
    background-color: $lipstick;
  }
  &.new-prod{
    background-color: #ff9900;
  }
}

h1{
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: $greyish-brown;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.breadcrumb{
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  margin-top: -3px;
  li{
    padding-right: 22px;
    a{
      @include login;
    }
    span{
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
      color: $greyish-brown;
    }
  }
  &>li{
    &+li{
      position: relative;
      &:before{
        display: inline-block;
        padding: 0;
        content: "\e902";
        color: #4d4d4d;
        font-size: 7px;
        position: absolute;
        top: 50%;
        left: -17px;
        font-family: 'icomoon' !important;
        transform: translate(0, -50%) rotate(-90deg);
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

      }
    }
  }
}
.category-page_items{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: $seafoam-blue;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: $white;
    height: 100%;
    span{
      display: block;
      font-size: 7px;
      margin-left: 10px;
      transform: rotate(-90deg);
      &:before{
        color: #fff!important;
      }
    }
  }
}
.sort-wrapper{
  background-color: $white;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 15px;
}
.control-label{
  display: inline-block;
  float: left;
  //margin-right: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 300;
  text-align: left;
  color: $greyish-brown;
  min-width: 110px;
}
.all-category{
  margin-bottom: 30px;
}
.category-page_items-whith{
  width: 200px;
  min-height: 240px;
  border-radius: 10px;
  background-color: $white;
  padding: 10px;
  border-radius: 10px;
  a{
    display: block;
    margin-bottom: 15px;
    img{
      width: 100%;
      height: auto;
      margin-bottom: 15px;
      border-radius: 10px;
    }
    p{
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      color: $greyish-brown;
    }
    span{
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      color: $warm-grey;
      width: 100%;
      display: block;
    }
  }
}
.sort-text{
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: $greyish-brown;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 60px;
  &>li{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: block;
    &.not_active{
      span{
        &:hover{
          color: #4d4d4d;
          background-color: transparent;
          i:before{
            color: #4d4d4d !important;
          }
        }
      }
    }
    a,
    span{
      background-color: transparent;
      border: 0;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      color: $greyish-brown;
      padding: 0;
      &:hover{
        background-color: $seafoam-blue;
        color: $white;
        border-radius: 30px;
      }
    }
  }
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background-color: $seafoam-blue;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: $white;
}
.prev,
.next{
  a,
  span{
    i{
      font-size: 30px;
    }
    &:hover{
      i{
        &:before{
          color: #fff!important;
        }
      }
    }
  }
}
.sort-select{
  .select2-container{
    width: 200px!important;
  }
}
.limit-select{
  .select2-container{
    width: 70px!important;
  }
}
.select2-container--default .select2-selection--single{

  border-radius: 3px;
  background-color: $white;
  border: solid 1px #e6e6e6;
}
.select2-container .select2-selection--single{
  height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: $greyish-brown;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 30px;
  line-height: 30px;
}
.flex-row.sort-select,
.flex-row.limit-select{
  justify-content: flex-end;
}
.wrapper-prod-card{
  border-radius: 10px;
  background-color: $white;
  padding: 15px 0;
  margin-bottom: 35px;
}
.thumbnail{
  padding: 0;
  border: 0;
  margin-bottom: 0;
  border-radius: 10px;
}
.thumbnails{
  border-radius: 10px;
  overflow: hidden;
}
label.form-checkbox {
  display: flex;
  align-items: center;
}
.form-checkbox input[type="radio"], .form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.mfilter-col-input input[type="checkbox"], .mfilter-col-input input[type="radio"] {
  margin: 3px 0 2px 0;
}
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #ccc;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}
.form-checkbox__marker::after {
  position: absolute;
  content: '';
  left: 14%;
  top: 18%;
  height: 40%;
  width: 72%;
  border-bottom: 1px solid $lipstick;
  border-left: 1px solid $lipstick;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.form-checkbox__label span, .form-checkbox__label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 0;
  .price{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: $lipstick;
    .price-old{
      font-size: 12px;
      line-height: 1.14;
      font-weight: 300;
      text-align: center;
      color: #999999;
    }
  }
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: $lipstick;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after, .form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}
.radio{
  margin: 0;
  margin-right: 5px;
  &:last-child{
    margin-right: 0;
  }
  .form-checkbox{
    padding: 0;
  }
}
.margin-option{
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.wrapper-padd{
  padding-right: 15px;
}
.qty_block{
  width: 70px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  position: relative;
  margin-right: 15px;
  .wrapp_inputs{
    display: block;
    margin: 0 auto;
    input{
      border: 0;
      padding: 0;
      text-align: center;
    }
  }
  .qty_control{
    font-size: 10px;
    position: absolute;
    cursor: pointer;
    @include t-y;
    i{
      font-size: 7px;
    }
    &.minus{
      left: 5px;
      transform: translateY(-50%) rotate(90deg);
    }
    &.plus{
      right: 5px;
      transform: translateY(-50%) rotate(90deg);
    }
  }
}
.btn-pink_by{
  max-width: 190px;
  height: 40px;
  border-radius: 3px;
  background-color: $lipstick;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  text-align: left;
  color: $white;
  margin-right: 15px;
  display: flex;
  align-items: center;
  i{
    font-size: 20px;
    margin-right: 10px;
    &:before{
      color: #fff!important;
    }
  }
  &:focus,
  &:active{
    color: #fff;
  }
}
.prod-atrib{
  .option-name{
    text-align: left;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #4d4d4d;
    span{
      color: $warm-grey;
    }
  }
}
.btn-default{
  width: 160px;
  height: 40px;
  border-radius: 3px;
  background-color: $white;
  border: solid 1px #4d4d4d;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.07;
  text-align: center;
  color: #4d4d4d;
}
.wrapper-wish{
  .btn-default{
    padding-left: 0;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.07;
    text-align: left;
    color: $warm-grey;
    i{
      font-size: 14px;
      margin-right: 10px;
    }
  }
}
.rating{
  margin-top: 23px;
}
.share_wrapp{
  .text{
    font-size: 14px;
    line-height: 1.07;
    text-align: left;
    color: $warm-grey;
    margin-right: 10px;
  }
  .share_item{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.07;
    text-align: left;
    color: #4d4d4d;
    margin-right: 15px;
    a{
      font-size: 14px;
      font-weight: 600;
      line-height: 1.07;
      text-align: left;
      color: #4d4d4d;
      margin-right: 15px;
    }
  }
}
.wrapper-description{
  margin-top: 30px;
  h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #4d4d4d;
    margin-bottom: 17px;
    text-transform: none;
  }
}
.txt-description{
  & *{
    font-size: 14px!important;
    line-height: 1.29!important;
    text-align: left!important;
    color: #4d4d4d!important;
  }
}
.col-cart-img{
  width: 46%;
  float: left;
  padding: 0 15px;
}
.col-cart-info{
  padding: 0 15px;
  width: 54%;
  float: left;
  h1{
    margin-bottom: 12px;
  }
}
.wrapper-popop-pur{
  background-color: #fff;
  padding: 30px;
  margin: 0 -30px 30px;
}
#cart-total_count{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #e83c4d;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  border-radius: 50%;
}
.btn-left-cart{
  position: relative;
  align-items: center;
  @include ProximaNovaBold;
  &:hover{
    color: #fff;
  }
}
#cart-total{
  position: absolute;
  bottom: -50px;
  left: 0;
  height: 55px;
  width: 90px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #fff;
  background-color: $seafoam-blue;
  font-size: 14px!important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  box-shadow: -3px 1px 7px -3px #4d4d4d;
}

.wrapper-cart .cart-container {
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: block;
  float: right;
  width: 390px;
  max-width: 390px;
  padding: 15px;
  height: 100vh;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: $beige;
  box-shadow: 0 0 7px 0 #4d4d4d;
  z-index: 999;
  > ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    height: 100%;
    li {
      padding: 6px 0;
      cursor: pointer;
      &:hover { color: #59e9df; }
    }
    li:before {
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      color: #59e9df;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 0.75em;
      text-transform: none;
      line-height: 1em;
    }
    li:last-child{

    }
  }
}
.cart-container{
  .btn-left-cart{
    position: absolute;
    left: -90px;
  }
}
.wrapper-cart .cart-container ul { right: 0px; opacity: 1; }
/*
  Content
*/

.wrapper-cart.open .cart-container {
  right: 0;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}
.wrapper-cart.open .cart-container ul { right: 0; opacity: 1;}
.wrapper-cart.open {
  position: absolute;
  top: 0;
  right: 390px;
  transition:all .5s linear;
  -moz-transition:all .5s linear;
  -webkit-transition:all .5s linear;
  -o-transition:all .5s linear;
  button{
    color: #fff;
  }

}
//.btn.focus, .btn:focus, .btn:hover{
//  color: #fff;
//}
.item-cart{
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  background-color: $white;
  padding: 10px;
  margin-bottom: 5px;
  .close{
    font-size: 10px;
    color: #4d4d4d;
    top: 15px;
    right: 15px;
    i{
      font-size: 10px;
      &:before{
        color: #4d4d4d!important;
      }
    }
  }
}
.btn-pink_by:hover{
  color: #fff;
}
.info-cart{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  align-items: left;
  a{
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #4d4d4d!important;
    margin-bottom: 10px;
  }
  .cart-atributs{
    font-size: 13.9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.01;
    letter-spacing: normal;
    text-align: left;
    color: $warm-grey;
    margin-bottom: 10px;
  }
  .cart-price{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: $lipstick;
  }
}
.alert{
  background-color: $seafoam-blue;
  border-radius: 10px;
  position: relative;
  color: #fff;
  text-align: center;
  border: solid 1px $seafoam-blue;
  a{
    font-weight: 600;
    text-decoration: underline;
    color: #fff;
  }
}
.img-thumbnail{
  border: 0;
  border-radius: 10px;
  padding: 0;
}
.footer-cart{
  position: absolute;
  bottom: 0;
  width: 100%;
  .btn-pink{
    width: 100%;
  }
  .total-block{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: right;
    color: #4d4d4d;
    margin-bottom: 30px;
    &:first-child{
      display: none;
    }
  }
}
.modal_product_info{
  padding-left: 10px;
  .margin-option{
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }
  h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #4d4d4d;
  }
}
#popup-checkout-button{
  width: 166px;
  margin: 0 auto;
  line-height: 40px;
}
.flex-colum{
  display: flex;
  flex-direction: column;
  .radio{
    margin-bottom: 15px;
  }
}
.text-danger,
.error{
  font-weight: 300;
  line-height: 1.11;
  text-align: left;
  color: $lipstick;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover{
  background-color: $seafoam-blue!important;
  border-color: $seafoam-blue!important;
  color: #fff!important;
}
.mini-title{
  h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #4d4d4d;
    text-transform: none;
  }
}
.checkout-simplecheckout{
  input.form-control{
    height: 50px;
    border-radius: 3px;
    background-color: $white;
    border: 0;
  }
}
textarea.form-control{
  height: 150px;
  border-radius: 3px;
  background-color: $white;
  border: 0;
  resize: none;
}
.simplecheckout-block-content{
  .form-group{
    &:nth-child(2n + 2){
      .row{
        margin-left: 0;
      }
    }
  }
}
.checkout-heading.panel-heading{
  background-color: transparent!important;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
  border: 0;
  padding: 15px 0!important;
}
.wrapp_cart_right{
  width: 100%;
  .name{
    margin-bottom: 12px;
  }

}
.simple_item.item-cart{
  .close{
    top: 15px;
    right: 15px;
  }
  .image{
    a{
      display: block;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  .name{
    margin-bottom: 5px;
  }
}
.pqt{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}
.simple_item{
  position: relative;
}
.quantity {
  width: 70px;
  position: relative;
  height: 30px;
  border: solid 1px #e6e6e6;
  padding: 2px;
  border-radius: 3px;
  input{
    padding: 0;
    height: 100%!important;
    text-align: center;
  }
}
.quantity .btn-minus,
.quantity .btn-plus {
  height: 50%;
  width: 32px;
  position: absolute;
  cursor: pointer;
  line-height: 5px;
  text-align: center;
  color: #d0362b;
  background-color: transparent;
  border: 0;
  top: 50%;
  transform: translate(0, -50%) rotate(90deg);
  i{
    font-size: 7px;
  }
}
.quantity .btn-plus {
  right: -5px;
}
.quantity .btn-minus {
  left: -5px;
  z-index: 1;
}
.simple_cart_bottom .simplecheckout-cart-total:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.simple_cart_bottom .simplecheckout-cart-total {
  display: none;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
}
.simplecheckout-button-block{
  .btn-pink{
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.simplecheckout{
  margin-bottom: 60px;
}
.checkout-simplecheckout #buttons {
  display: none !important;
}
.btn-simple{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn-pink{
    width: 265px;
    text-transform: none;
    float: none;
  }
  .btn-default{
    width: 270px;
    height: 60px;
    border-radius: 5px;
    border: solid 1px #4d4d4d;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.89;
    text-align: center;
    color: #4d4d4d;
  }
}
#simplecheckout_cart{
  margin-bottom: 160px;
}

.cart_wish{
  position: fixed;
  right: -3px;
  top: 30%;
  z-index: 9;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  .wrapper-cart,
  .wishlist_wrapp{
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background-color: $seafoam-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7px;
    box-shadow: 0 0 7px 0 #4d4d4d;
    i{
      font-size: 30px;
      color: #fff;
      margin-bottom: 10px;
      &:before{
        color: #fff!important;
      }
    }
    a{
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      @include ProximaNovaBold;
      text-transform: uppercase;

    }
    .wish-text{
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5px;
        right: 0;
        width: 20px;
        height: 20px;
        background-color: $lipstick;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: $white;
        border-radius: 50%;
      }
    }
    .btn-inverse{
      border: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      //white-space: pre-wrap;
      #cart-total{
        font-size: 12px;

      }
    }
  }
}
.cart_wish.open-parent{
  top: 58px;
}

.cart_wish.open-parent{
  animation: timing-percents 0.1s linear alternate;
}
.wrapper-cart.open{
  animation: timing-fromto 1.3s linear alternate;
}
@keyframes timing-percents{
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 0;
  }
}
@keyframes timing-fromto {
  from {
    right: -50px;
    //opacity: 0;
  }
  to {
    right: 390px;
    //opacity: 1;
  }
}
.wrapper-contact-info{
  border-radius: 10px;
  background-color: $white;
  position: relative;
  .contact-info{
    min-width: 256px;
    min-height: 178px;
    text-align: center;
    padding: 40px 20px;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #808080;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    span{
      display: block;
      font-size: 40px;
      margin-bottom: 30px;
    }
    a{
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      color: #4d4d4d;
      span{
        display: inline;
        margin: 0;
        font-size: 14px;
      }
    }
    &:first-child{
      margin-right: -15px;
    }
  }
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border: 1px dashed #e6e6e6;
    position: absolute;
    left: 0;
    @include t-y;
  }
  &:after{
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    border: 1px dashed #e6e6e6;
    position: absolute;
    top: 0;
    @include t-x;
  }
}
.wrapper-margin-contact{
  margin-bottom: 120px;
}
.wrapper-information{
  p{
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #4d4d4d;
    margin-bottom: 33px;
  }
}
.download_link{
  span{
    padding-right: 10px;
  }
}
.show_pass_ch{
  .form-checkbox__label{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #4d4d4d;
  }
  .form-checkbox__marker{
    border: 1px solid #ccc;
  }
}
.fl_login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  a{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-align: right;
    color: $seafoam-blue;
    border-bottom: 1px dashed $seafoam-blue;
  }
}
.social_block{
  margin-top: 30px;
  .title{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 15px;
  }
  .wrapp_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      display: block;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #4d4d4d;
      padding: 0;
      text-align: center;
      color: #4d4d4d;
      font-size: 18px;
      margin: 0 7.5px;
      &.google{
        font-size: 16px;
      }
      &.facebook{
        font-size: 21px;
      }
    }
  }
}
.dropdown-menu{
  min-width: 100%;
  color: #4d4d4d;
  border: solid 1px #cccccc;
  margin: 0;
  padding: 0;
  li{
    a{
      padding: 6px 12px;
      &:hover{
        background-color: #61c0bf;
        color: #fff;
      }
    }
  }
}
.simplecheckout-block-content{
  .radio{
    margin-bottom: 15px;
  }
  .select2-container .select2-selection--single{
    height: 50px;
  }
  .select2-container--default .select2-selection--single{
    border: 0;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px;
    color: #808080;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    line-height: 50px;
    height: 50px;
  }
  .dropdown-menu{
    width: 100%;
    height: 250px;
    border: 0;
    margin-top: 2px;
    overflow: hidden;
    overflow-y: auto;
    li a {
      white-space: pre-wrap;
    }
  }
}
.text-danger{
  margin: 5px 0;
}
.createaccount{
  min-width: 224px;
}
.menu-tablet{
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 13px;
}
.sm-menu,
.menu-catalog,
.container-catalog_menu,
.container-for-menu{
  display: none;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: #61c0bf;
}
.select2-container--default .select2-results__option[aria-selected="true"]{
  background-color: #cccccc;
}
.select2-dropdown{
  border-color: #cccccc;
}