//@media screen and (max-width: 1366px) {
//  .about-company_wrapper{
//    &:before{
//      left: 1.5%;
//    }
//    .text{
//      position: relative;
//      z-index: 2;
//    }
//  }
//  .error-wrapper .text-error img{
//    right: 127px;
//    width: 350px;
//    top: -73px;
//  }
//  .error-wrapper .text-error p{
//    font-size: 200px;
//    span{
//      right: 0;
//    }
//  }
//}
//@media screen and (max-width: 1280px){
//  .error-wrapper .text-error{
//    width: 60%;
//  }
//}
$main_font : 'ProximaNova';

$seafoam-blue: #61c0bf;
$white: #ffffff;
$cloudy-blue: #bbded6;
$pinkish-grey: #cccccc;
$greyish-brown: #4d4d4d;
$lipstick: #e83c4d;
$warm-grey: #999999;
$beige: #f8f1e5;


@media screen and (max-width: 1199px) {
  .menu-style{
    padding: 0;
  }
  .category-block{
    width: 100%;
  }
  .social{
    padding-left: 15px;
  }
  footer .menu-block .menu-style{
    padding: 0;
  }
  footer .menu-block .menu-style li p,
  footer .menu-block .menu-style a p,
  footer .menu-block .menu-style a{
    padding: 15.5px 8px;
  }
  .category-page_items-whith{
    width: 100%;
  }
  .sort-text{
    margin-right: -15px;
  }
  .product-layout .button-group{
    display: flex;
    .one_click{
      flex: 2;
      height: 50px;
    }
  }
  .flex-colum-md{
    flex-direction: column;
    .qty_block{
      margin-bottom: 10px;
    }
    button{
      margin-bottom: 10px;
    }
  }
  .col-cart-img{
    width: 100%;
    float: none;
    padding: 0 15px;
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
  .col-cart-info{
    width: 100%;
    float: none;
    padding: 0 15px;
    .wrapper-padd{
      padding: 0 15px;
    }
  }
  .logo{
    width: 100%;
  }
  .padding_login{
    padding-left: 20px;
  }
  .product-layout .product-thumb .image a img{
    width: 100%;
  }
  .wrapper-contact-info .contact-info{
    min-width: 100%;
    a{
      span{
        display: block;
        font-size: 16px;
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 991px) {
  .search-container{
    width: 100%;
  }
  .logo{
    margin-bottom: 20px;
  }
  .wraper-shop-info a{
    font-size: 14px;
  }
  .language-wrapper{
    display: none;
  }
  .subscribe_wrapper{
    .flex-row{
      display: block;
    }
    .btn-pink{
      width: 100%;
    }
    .col-sm-8{
      padding-right: 30px;
    }
    .col-sm-4{
      padding-left: 30px;
    }
    h2{
      margin-bottom: 30px;
      text-align: center;
      span{
        display: inline;
      }
    }
  }
  .menu-footer{
    margin-bottom: 0;
    .flex-row{
      justify-content: space-between;
    }
  }
  .items-help_elements{
    i{
      display: none;
    }
  }
  .flex-colum-xs{
    position: relative;
  }
  .btn-toggle-menu{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: $seafoam-blue;
    padding: 3px 0;
    font-size: 25px;
    line-height: 50px;
  }
  .sm-menu{
    display: block;
    position: absolute;
    top: 35%;
    transform: translate(0, -35%);
    left: 0;
    z-index: 9;
  }
  .container-for-menu{
    display: block;
    position: absolute;
    width: 100%;
    //left: 0;
    left: -100%;
    height: 100vh;
    background-color: $seafoam-blue;
    z-index: 99;
    padding: 60px 0;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    .mini-menu{
      flex-direction: column;
      li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255, 0.3);
        a{
          text-align: center;
          display: block;
        }
        &:last-child{
          border-bottom: 0;
        }
      }
    }

  }
  .btn-toggle-catalog.close-menu,
  .close-menu{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    i{
      &:before{
        color: #fff;
      }
    }
  }
  .menu-catalog{
    display: block;
  }
  //body.no-scroll{
  //  overflow-y: hidden;
  //}
  .container-for-menu.active-menu {
    left: 0;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .navbar{
    min-height: 70px;
  }
  .btn-toggle-catalog{
    background-color: $seafoam-blue;
    padding: 0;
    color: white;
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: $white;
    }
    i.icon-catalog{
      font-size: 30px;
      margin-right: 15px;
    }
    i.icon-up-arrow{
      display: inline-block;
      font-size: 10px;
      transform: rotate(90deg);
      margin-left: 10px;
      &:before{
        color: #fff;
      }
    }
  }
  .container-catalog_menu{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    height: 100vh;
    background-color: $seafoam-blue;
    z-index: 99;
    padding: 60px 0;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    .category-block{
      background-color: $seafoam-blue;
      border-radius: 0;
      margin-bottom: 0;
      h2{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 0;
        color: $white;
        margin-bottom: 60px;
      }
      .panel-heading a{
        justify-content: center;
        color: $white;
        span{
          display: none;
        }
      }
      .panel-title{
        font-size: 14px;
      }
      .panel-collapse li{
        width: 25%;
        float: left;
        a{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.14;
          text-align: center;
          color: #4d4d4d;
        }
      }
    }
  }
  .container-catalog_menu.active-menu{
    top: 0;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .simplecheckout-block-content .form-group:nth-child(2n+2) .row{
    margin-left: -15px;
  }
  .simplecheckout-right-column{
    padding-left: 0!important;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 767px){
  .flex-colum-xs{
    flex-direction: column;
  }
  .wraper-shop-info{
    a{
      margin-right:5px;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.8;
      &:first-child{
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
        text-align: center;
        margin-right: 0;
      }
      //display: block;
      //margin-bottom: 5px;
      //text-align: center;
    }
  }
  .logo{
    img{
      display: block;
      margin: 0 auto;
      height: 100%;
    }
  }
  .items-help_elements{
    .items-container-flex_col.xs-flex-row{
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  .login-wrapper{
    width: 100%;
  }
  .padding_login{
    padding: 0 15px;
  }
  .wrapper_big-slider{
    .item{
      .container-banner_title{
        .title-banner{
          font-size: 28px;
        }
        .info-banner{
          font-size: 14px;
        }
      }
    }
  }
  .subscribe_wrapper .col-sm-4,
  .subscribe_wrapper .col-sm-8{
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .subscribe_wrapper{
    input{
      height: 40px;
    }
    .btn-pink{
      width: 220px;
      margin: 0 auto;
      display: block;
      float: none;
    }
  }
  .cart_wish .wrapper-cart,
  .cart_wish .wishlist_wrapp{
    width: 66px;
    height: 66px;
  }
  .cart_wish .wrapper-cart i, .cart_wish .wishlist_wrapp i{
    font-size: 21px;
    margin-bottom: 5px;
  }
  .btn-left-cart,
  .cart_wish .wrapper-cart a, .cart_wish .wishlist_wrapp a{
    font-size: 12px;
  }
  #cart-total_count,
  .cart_wish .wrapper-cart .wish-text span,
  .cart_wish .wishlist_wrapp .wish-text span{
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
  #cart-total_count{
    top: 5px;
  }
  .cart_wish .wrapper-cart .btn-inverse, .cart_wish .wishlist_wrapp .btn-inverse{
    padding-top: 5px;
  }
  #cart-total{
    width: 66px;
    font-size: 10px!important;
    height: 40px;
    bottom: -35px;
  }
  .btn-toggle-menu{
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 28px;
  }

  .sm-menu{
    width: 30px;
    height: 30px;
    top: 20%;
    transform: translate(0, -20%);
  }
  .navbar{
    min-height: 45px;
  }
  .btn-toggle-catalog{
    height: 45px;
  }
  .icon-catalog{
    display: none;
  }
  .wrapper_big-slider .item .container-banner_title{
    left: 15px;
    top: 15px;
  }
  .wrapper_big-slider .item .container-banner_title .title-banner{
    font-size: 18px;
  }
  .wrapper_big-slider .item .container-banner_title .info-banner{
    font-size: 12px;
  }
  .slick-dots{
    left: 10px;
    bottom: 10px;
  }
  .logo img{
    padding-left: 0;
  }
  footer .logo img{
    padding-left: 0;
  }
  footer .menu-block .menu-style{
    display: block;
    margin: 0;
    li{
      display: inline-block;
      float: left;
    }
  }
  footer .navbar{
    padding: 0 15px;
  }
  .xs-flex-colum{
    flex-direction: column;
    .radio{
      margin-bottom: 10px;
      justify-content: left;
      width: 100%;
      margin-right: 0;
    }
  }
  .copiright p{
    padding: 0;
  }
  .qty_block{
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }
  .flex-colum-xs{
    button{
      margin-bottom: 10px;
      width: 100%;
      margin-right: 0;
    }
  }
  .share_wrapp .share_item{
    font-size: 12px;
    margin-right: 10px;
    a{
      font-size: 12px;
      margin-right: 0;
    }
  }
  .logo{
    margin-bottom: 5px;
    img{
      padding-left: 0px;
    }
  }
  .wrapper-contact-info{
    margin-bottom: 20px;
    &:after,
    &:before{
      display: none;
    }
    .col-md-6{
      &:last-child{
        .contact-info{
          &:before{
            content: '';
            display: none;
          }
        }
      }
    }
  }
  .contact-info{
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      border: 1px dashed #e6e6e6;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
@media screen and (max-width: 580px) {
  //.flex-colum-xs{
  //  flex-direction: column;
  //}
  .col-cart-info .wrapper-padd{
    text-align: center;
  }
  .col-cart-info h1{
    text-align: center;
  }
  .logo{
    height: auto;
    margin-bottom: 5px;
    img{
      padding-left: 20px;
    }
  }
  .modal-sm{
    width: 300px;
    padding: 30px 15px;
    margin: 0 auto;
  }
  .modal-header{
    padding-bottom: 15px;
  }
  .wrapper-popop-pur{
    margin: 0 -15px 15px;
    padding: 15px;
  }
}
@media screen and (max-width: 375px) {

}
